
<div class="row" >
	{char_col c='ga'}
	{char_col c='gi' boxcolor='blue'}
	{char_col c='gu' boxcolor='red'}
	{char_col c='ge' boxcolor='orange'}
	{char_col c='go' boxcolor='violet'}
</div>
<div class="row" >
	{char_col c='za'}
	{char_col c='ji' boxcolor='blue'}
	{char_col c='zu' boxcolor='red'}
	{char_col c='ze' boxcolor='orange'}
	{char_col c='zo' boxcolor='violet'}
</div>
<div class="row" >
	{char_col c='da'}
	{char_col c='ji2' boxcolor='blue' c_view="(ji)"}
	{char_col c='zu2' boxcolor='red' c_view="(zu)"}
	{char_col c='de' boxcolor='orange'}
	{char_col c='do' boxcolor='violet'}
</div>
<div class="row" >
	{char_col c='ba'}
	{char_col c='bi' boxcolor='blue'}
	{char_col c='bu' boxcolor='red'}
	{char_col c='be' boxcolor='orange'}
	{char_col c='bo' boxcolor='violet'}
</div>
<div class="row" >
	{char_col c='pa'}
	{char_col c='pi' boxcolor='blue'}
	{char_col c='pu' boxcolor='red'}
	{char_col c='pe' boxcolor='orange'}
	{char_col c='po' boxcolor='violet'}
</div>

<p class="text-left">
	Nếu đã thuộc bảng chữ cái hiragana thì học bảng âm đục sẽ vô cùng đơn giản. Đơn giản đây chỉ là bảng bổ sung thêm 25 âm tiết nữa, là chữ cái được thành lập bằng cách thêm 2 dấu phẩy ” ở trên đầu các chữ cái trong bảng chữ cái hiragana, gọi là “tenten”.
</p>