<div class="browser_width colelem" id="u8222-bw" style="height: 860px;">
	<div class="museBGSize rgba-background" id="u8222">
		<!-- column -->
		<div class="clearfix" id="u8222_align_to_page">
			<div class="slideInUp clearfix colelem shared_content wow"
				id="u8224-4" data-content-guid="u8224-4_content"
				style="visibility: visible; animation-name: slideInUp;">
				<!-- content -->
				<h3 id="u8224-2">- Our Events -</h3>
			</div>
			<div class="slideInUp clearfix colelem shared_content wow"
				id="u8223-4" data-content-guid="u8223-4_content"
				style="visibility: visible; animation-name: slideInUp;">
				<!-- content -->
				<h3 id="u8223-2">Don't miss our event</h3>
			</div>
			<div class="clearfix colelem" id="pu8395">
				<!-- group -->
				<div class="clearfix grpelem" id="u8395">
					<!-- group -->
					<div
						class="slideInLeft transition rounded-corners shadow clearfix grpelem wow"
						id="u8278"
						style="visibility: visible; animation-name: slideInLeft;">
						<!-- column -->
						<div class="position_content" id="u8278_position_content">
							<div
								class="slideInLeft museBGSize rounded-corners colelem shared_content wow"
								id="u8277" data-content-guid="u8277_content"
								style="visibility: visible; animation-name: slideInLeft;">
								<!-- simple frame -->
							</div>
							<div class="slideInLeft clearfix colelem shared_content wow"
								id="u8276-4" data-content-guid="u8276-4_content"
								style="visibility: visible; animation-name: slideInLeft;">
								<!-- content -->
								<h4>English Day on Carfree day</h4>
							</div>
							<div class="slideInLeft clearfix colelem shared_content wow"
								id="u8272-4" data-content-guid="u8272-4_content"
								style="visibility: visible; animation-name: slideInLeft;">
								<!-- content -->
								<p>March 19, 2016 / 08:00 am - 10:00 am</p>
							</div>
							<div class="slideInLeft clearfix colelem shared_content wow"
								id="u8279-4" data-content-guid="u8279-4_content"
								style="visibility: visible; animation-name: slideInLeft;">
								<!-- content -->
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
									sed diam nonummy nibh euismod.</p>
							</div>
							<a
								class="nonblock nontext Button slideInLeft transition rounded-corners clearfix colelem shared_content wow"
								id="buttonu8381" href="contact.html"
								data-content-guid="buttonu8381_content"
								style="visibility: visible; animation-name: slideInLeft;">
								<!-- container box -->
								<div class="clearfix grpelem" id="u8382-4">
									<!-- content -->
									<p>JOIN NOW</p>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="clearfix grpelem" id="u8579">
					<!-- group -->
					<div
						class="slideInUp transition rounded-corners shadow clearfix grpelem wow"
						id="u8584" style="visibility: visible; animation-name: slideInUp;">
						<!-- column -->
						<div class="position_content" id="u8584_position_content">
							<div
								class="slideInUp museBGSize rounded-corners colelem shared_content wow"
								id="u8585" data-content-guid="u8585_content"
								style="visibility: visible; animation-name: slideInUp;">
								<!-- simple frame -->
							</div>
							<div class="slideInUp clearfix colelem shared_content wow"
								id="u8583-4" data-content-guid="u8583-4_content"
								style="visibility: visible; animation-name: slideInUp;">
								<!-- content -->
								<h4>Play &amp; Study with Mrs. Smith</h4>
							</div>
							<div class="slideInUp clearfix colelem shared_content wow"
								id="u8586-4" data-content-guid="u8586-4_content"
								style="visibility: visible; animation-name: slideInUp;">
								<!-- content -->
								<p>March 19, 2016 / 08:00 am - 10:00 am</p>
							</div>
							<div class="slideInUp clearfix colelem shared_content wow"
								id="u8582-4" data-content-guid="u8582-4_content"
								style="visibility: visible; animation-name: slideInUp;">
								<!-- content -->
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
									sed diam nonummy nibh euismod.</p>
							</div>
							<a
								class="nonblock nontext Button slideInUp transition rounded-corners clearfix colelem shared_content wow"
								id="buttonu8580" href="contact.html"
								data-content-guid="buttonu8580_content"
								style="visibility: visible; animation-name: slideInUp;">
								<!-- container box -->
								<div class="clearfix grpelem" id="u8581-4">
									<!-- content -->
									<p>JOIN NOW</p>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="clearfix grpelem" id="u8671">
					<!-- group -->
					<div
						class="slideInRight transition rounded-corners shadow clearfix grpelem wow"
						id="u8673"
						style="visibility: visible; animation-name: slideInRight;">
						<!-- column -->
						<div class="position_content" id="u8673_position_content">
							<div
								class="slideInRight museBGSize rounded-corners colelem shared_content wow"
								id="u8678" data-content-guid="u8678_content"
								style="visibility: visible; animation-name: slideInRight;">
								<!-- simple frame -->
							</div>
							<div class="slideInRight clearfix colelem shared_content wow"
								id="u8674-4" data-content-guid="u8674-4_content"
								style="visibility: visible; animation-name: slideInRight;">
								<!-- content -->
								<h4>Drawing at City Park</h4>
							</div>
							<div class="slideInRight clearfix colelem shared_content wow"
								id="u8672-4" data-content-guid="u8672-4_content"
								style="visibility: visible; animation-name: slideInRight;">
								<!-- content -->
								<p>March 19, 2016 / 08:00 am - 10:00 am</p>
							</div>
							<div class="slideInRight clearfix colelem shared_content wow"
								id="u8677-4" data-content-guid="u8677-4_content"
								style="visibility: visible; animation-name: slideInRight;">
								<!-- content -->
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
									sed diam nonummy nibh euismod.</p>
							</div>
							<a
								class="nonblock nontext Button slideInRight transition rounded-corners clearfix colelem shared_content wow"
								id="buttonu8675" href="contact.html"
								data-content-guid="buttonu8675_content"
								style="visibility: visible; animation-name: slideInRight;">
								<!-- container box -->
								<div class="clearfix grpelem" id="u8676-4">
									<!-- content -->
									<p>JOIN NOW</p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>