<div class="browser_width colelem shared_content" id="u1942-bw"
	data-content-guid="u1942-bw_content" style="height: 430px;">
	<div class="museBGSize" id="u1942">
		<!-- group -->
		<div class="clearfix" id="u1942_align_to_page">
			<div class="clearfix grpelem shared_content" id="pu1944-3"
				data-content-guid="pu1944-3_content">
				<!-- column -->
				<div
					class="slideInUp museBGSize clearfix colelem shared_content wow"
					id="u1944-3" data-content-guid="u1944-3_content"
					style="visibility: visible; animation-name: slideInUp;">
					<!-- content -->
					<p id="u1944">&nbsp;</p>
				</div>
				<div class="slideInUp clearfix colelem shared_content wow"
					id="u1949-4" data-content-guid="u1949-4_content"
					style="visibility: visible; animation-name: slideInUp;">
					<!-- content -->
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Curabitur pellentesque neque eget diam posuere porta. Quisque ut
						nulla at nunc lacinia.</p>
				</div>
			</div>
			<div class="clearfix grpelem shared_content" id="pu1945-4"
				data-content-guid="pu1945-4_content">
				<!-- column -->
				<div class="slideInUp clearfix colelem shared_content wow"
					id="u1945-4" data-content-guid="u1945-4_content"
					style="visibility: visible; animation-name: slideInUp;">
					<!-- content -->
					<h3>Contact Info</h3>
				</div>
				<div class="clearfix colelem shared_content" id="pu1963-4"
					data-content-guid="pu1963-4_content">
					<!-- group -->
					<div class="slideInUp clearfix grpelem wow" id="u1963-4"
						style="visibility: visible; animation-name: slideInUp;">
						<!-- content -->
						<p></p>
					</div>
					<div class="slideInUp clearfix grpelem wow" id="u1946-8"
						style="visibility: visible; animation-name: slideInUp;">
						<!-- content -->
						<p>99 S.t Jomblo Park</p>
						<p>Pekanbaru 28292.</p>
						<p>Indonesia</p>
					</div>
				</div>
				<div class="clearfix colelem shared_content" id="pu1964-4"
					data-content-guid="pu1964-4_content">
					<!-- group -->
					<div class="slideInUp clearfix grpelem wow" id="u1964-4"
						style="visibility: visible; animation-name: slideInUp;">
						<!-- content -->
						<p></p>
					</div>
					<div class="slideInUp clearfix grpelem wow" id="u1947-4"
						style="visibility: visible; animation-name: slideInUp;">
						<!-- content -->
						<p>(0761) 654-123987</p>
					</div>
				</div>
				<div class="clearfix colelem shared_content" id="pu1965-4"
					data-content-guid="pu1965-4_content">
					<!-- group -->
					<div class="slideInUp clearfix grpelem wow" id="u1965-4"
						style="visibility: visible; animation-name: slideInUp;">
						<!-- content -->
						<p></p>
					</div>
					<div class="slideInUp clearfix grpelem wow" id="u1948-4"
						style="visibility: visible; animation-name: slideInUp;">
						<!-- content -->
						<p>info@yoursite.com</p>
					</div>
				</div>
			</div>
			<div class="clearfix grpelem" id="pu1953-4">
				<!-- column -->
				<div class="slideInUp clearfix colelem shared_content wow"
					id="u1953-4" data-content-guid="u1953-4_content"
					style="visibility: visible; animation-name: slideInUp;">
					<!-- content -->
					<h3>Useful Links</h3>
				</div>
				<div class="clearfix colelem shared_content" id="pu1970-4"
					data-content-guid="pu1970-4_content">
					<!-- group -->
					<div class="slideInUp clearfix grpelem shared_content wow"
						id="u1970-4" data-content-guid="u1970-4_content"
						style="visibility: visible; animation-name: slideInUp;">
						<!-- content -->
						<p></p>
					</div>
					<div class="slideInUp clearfix grpelem shared_content wow"
						id="u1954-4" data-content-guid="u1954-4_content"
						style="visibility: visible; animation-name: slideInUp;">
						<!-- content -->
						<h5>About Us</h5>
					</div>
				</div>
				<div class="clearfix colelem shared_content" id="pu1969-4"
					data-content-guid="pu1969-4_content">
					<!-- group -->
					<div class="slideInUp clearfix grpelem shared_content wow"
						id="u1969-4" data-content-guid="u1969-4_content"
						style="visibility: visible; animation-name: slideInUp;">
						<!-- content -->
						<p></p>
					</div>
					<div class="slideInUp clearfix grpelem shared_content wow"
						id="u1955-4" data-content-guid="u1955-4_content"
						style="visibility: visible; animation-name: slideInUp;">
						<!-- content -->
						<h5>Our Teacher</h5>
					</div>
				</div>
				<div class="clearfix colelem shared_content" id="pu1968-4"
					data-content-guid="pu1968-4_content">
					<!-- group -->
					<div class="slideInUp clearfix grpelem shared_content wow"
						id="u1968-4" data-content-guid="u1968-4_content"
						style="visibility: visible; animation-name: slideInUp;">
						<!-- content -->
						<p></p>
					</div>
					<div class="slideInUp clearfix grpelem shared_content wow"
						id="u1956-4" data-content-guid="u1956-4_content"
						style="visibility: visible; animation-name: slideInUp;">
						<!-- content -->
						<h5>Our Classes</h5>
					</div>
				</div>
				<div class="clearfix colelem shared_content" id="pu1967-4"
					data-content-guid="pu1967-4_content">
					<!-- group -->
					<div class="slideInUp clearfix grpelem wow" id="u1967-4"
						style="visibility: visible; animation-name: slideInUp;">
						<!-- content -->
						<p></p>
					</div>
					<div class="slideInUp clearfix grpelem wow" id="u1957-4"
						style="visibility: visible; animation-name: slideInUp;">
						<!-- content -->
						<h5>Our Events</h5>
					</div>
				</div>
				<div class="clearfix colelem shared_content" id="pu1966-4"
					data-content-guid="pu1966-4_content">
					<!-- group -->
					<div class="slideInUp clearfix grpelem wow" id="u1966-4"
						style="visibility: visible; animation-name: slideInUp;">
						<!-- content -->
						<p></p>
					</div>
					<div class="slideInUp clearfix grpelem wow" id="u1958-4"
						style="visibility: visible; animation-name: slideInUp;">
						<!-- content -->
						<h5>Contact Us</h5>
					</div>
				</div>
			</div>
			<div class="clearfix grpelem" id="pu1951-4">
				<!-- column -->
				<div class="slideInUp clearfix colelem shared_content wow"
					id="u1951-4" data-content-guid="u1951-4_content"
					style="visibility: visible; animation-name: slideInUp;">
					<!-- content -->
					<h3>Get in Touch</h3>
				</div>
				<div class="slideInUp clearfix colelem shared_content wow"
					id="u1952-4" data-content-guid="u1952-4_content"
					style="visibility: visible; animation-name: slideInUp;">
					<!-- content -->
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
				<div class="clearfix colelem shared_content" id="pu1959-4"
					data-content-guid="pu1959-4_content">
					<!-- group -->
					<div
						class="slideInUp rounded-corners clearfix grpelem shared_content wow"
						id="u1959-4" data-content-guid="u1959-4_content"
						style="visibility: visible; animation-name: slideInUp;">
						<!-- content -->
						<p id="u1959-2"></p>
					</div>
					<div
						class="slideInUp rounded-corners clearfix grpelem shared_content wow"
						id="u1960-4" data-content-guid="u1960-4_content"
						style="visibility: visible; animation-name: slideInUp;">
						<!-- content -->
						<p id="u1960-2"></p>
					</div>
					<div
						class="slideInUp rounded-corners clearfix grpelem shared_content wow"
						id="u1961-4" data-content-guid="u1961-4_content"
						style="visibility: visible; animation-name: slideInUp;">
						<!-- content -->
						<p id="u1961-2"></p>
					</div>
					<div
						class="slideInUp rounded-corners clearfix grpelem shared_content wow"
						id="u1962-4" data-content-guid="u1962-4_content"
						style="visibility: visible; animation-name: slideInUp;">
						<!-- content -->
						<p id="u1962-2"></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="browser_width colelem" id="u1943-bw" style="height: 71px;">
	<div class="shadow" id="u1943">
		<!-- column -->
		<div class="clearfix" id="u1943_align_to_page">
			<div class="colelem shared_content" id="u9300"
				data-content-guid="u9300_content">
				<!-- custom html -->
				<script>
					$('.slideInUp').addClass('wow slideInUp')
					$('.slideInDown').addClass('wow slideInDown')
					$('.slideInLeft').addClass('wow slideInLeft')
					$('.slideInRight').addClass('wow slideInRight')
				</script>

				<script>
					$('.counter').counterUp({
						delay : 10,
						time : 2000
					});
				</script>

				<script>
					new WOW().init();
				</script>

			</div>
			<div class="slideInUp clearfix colelem shared_content" id="u1950-5"
				data-content-guid="u1950-5_content">
				<!-- content -->
				<p>
					© Copyright Kids 2017. All Rights Reserved. By <span id="u1950-2">Rometheme</span>
				</p>
			</div>
		</div>
	</div>
</div>