<div class="clearfix colelem" id="ppu3445">
	<!-- group -->
	<div class="clearfix grpelem" id="pu3445">
		<!-- group -->
		<div class="slideInUp clearfix grpelem wow" id="u3445"
			style="visibility: visible; animation-name: slideInUp;">
			<!-- column -->
			<div class="slideInUp clearfix colelem shared_content wow"
				id="u3446-4" data-content-guid="u3446-4_content"
				style="visibility: visible; animation-name: slideInUp;">
				<!-- content -->
				<h3 id="u3446-2">Strategi Location</h3>
			</div>
			<div class="slideInUp clearfix colelem shared_content wow"
				id="u3447-4" data-content-guid="u3447-4_content"
				style="visibility: visible; animation-name: slideInUp;">
				<!-- content -->
				<p id="u3447-2">Lorem ipsum dolor sit amet, consectetuer
					adipiscing elit, sed diam nonummy nibh euismod.</p>
			</div>
			<a
				class="nonblock nontext Button slideInUp transition rounded-corners clearfix colelem shared_content wow"
				id="buttonu3448" href="contact.html"
				data-content-guid="buttonu3448_content"
				style="visibility: visible; animation-name: slideInUp;">
				<!-- container box -->
				<div class="clearfix grpelem" id="u3449-4">
					<!-- content -->
					<p>LEARN MORE</p>
				</div>
			</a>
		</div>
		<div
			class="slideInUp rounded-corners clearfix grpelem shared_content wow"
			id="u3450-4" data-content-guid="u3450-4_content"
			style="visibility: visible; animation-name: slideInUp;">
			<!-- content -->
			<p id="u3450-2"></p>
		</div>
	</div>
	<div class="slideInUp clearfix grpelem shared_content wow" id="u3515"
		data-content-guid="u3515_content"
		style="visibility: visible; animation-name: slideInUp;">
		<!-- column -->
		<div class="slideInUp clearfix colelem shared_content wow"
			id="u3516-4" data-content-guid="u3516-4_content"
			style="visibility: visible; animation-name: slideInUp;">
			<!-- content -->
			<h3 id="u3516-2">Full Day Programs</h3>
		</div>
		<div class="slideInUp clearfix colelem shared_content wow"
			id="u3517-4" data-content-guid="u3517-4_content"
			style="visibility: visible; animation-name: slideInUp;">
			<!-- content -->
			<p id="u3517-2">Lorem ipsum dolor sit amet, consectetuer
				adipiscing elit, sed diam nonummy nibh euismod.</p>
		</div>
		<a
			class="nonblock nontext Button slideInUp transition rounded-corners clearfix colelem shared_content wow"
			id="buttonu3518" href="classes.html"
			data-content-guid="buttonu3518_content"
			style="visibility: visible; animation-name: slideInUp;">
			<!-- container box -->
			<div class="clearfix grpelem" id="u3519-4">
				<!-- content -->
				<p>LEARN MORE</p>
			</div>
		</a>
	</div>
	<div
		class="slideInUp rounded-corners clearfix grpelem shared_content wow"
		id="u3520-4" data-content-guid="u3520-4_content"
		style="visibility: visible; animation-name: slideInUp;">
		<!-- content -->
		<p id="u3520-2"></p>
	</div>
	<div class="slideInUp clearfix grpelem wow" id="u3585"
		style="visibility: visible; animation-name: slideInUp;">
		<!-- column -->
		<div class="slideInUp clearfix colelem shared_content wow"
			id="u3586-4" data-content-guid="u3586-4_content"
			style="visibility: visible; animation-name: slideInUp;">
			<!-- content -->
			<h3 id="u3586-2">Expert Teachers</h3>
		</div>
		<div class="slideInUp clearfix colelem shared_content wow"
			id="u3587-4" data-content-guid="u3587-4_content"
			style="visibility: visible; animation-name: slideInUp;">
			<!-- content -->
			<p id="u3587-2">Lorem ipsum dolor sit amet, consectetuer
				adipiscing elit, sed diam nonummy nibh euismod.</p>
		</div>
		<a
			class="nonblock nontext Button slideInUp transition rounded-corners clearfix colelem shared_content wow"
			id="buttonu3588" href="teachers.html"
			data-content-guid="buttonu3588_content"
			style="visibility: visible; animation-name: slideInUp;">
			<!-- container box -->
			<div class="clearfix grpelem" id="u3589-4">
				<!-- content -->
				<p>LEARN MORE</p>
			</div>
		</a>
	</div>
	<div
		class="slideInUp rounded-corners clearfix grpelem shared_content wow"
		id="u3590-4" data-content-guid="u3590-4_content"
		style="visibility: visible; animation-name: slideInUp;">
		<!-- content -->
		<p id="u3590-2"></p>
	</div>
</div>