<div class="clearfix colelem" id="pu1549">
	<!-- group -->
	<div class="browser_width shared_content" id="u1549-bw"
		data-content-guid="u1549-bw_content" style="height: auto;">
		<div id="u1549">
			<!-- simple frame -->
		</div>
	</div>
	<div class="clearfix shared_content" id="u1550-4"
		data-content-guid="u1550-4_content">
		<!-- content -->
		<p id="u1550-2">(0761) 654-123987</p>
	</div>
	<div class="browser_width shared_content" id="u1551-bw"
		data-content-guid="u1551-bw_content" style="height: auto;">
		<div class="shadow" id="u1551">
			<!-- simple frame -->
		</div>
	</div>
	<nav class="MenuBar clearfix" id="menuu1552">
		<!-- horizontal box -->
		<div class="MenuItemContainer clearfix grpelem" id="u1567">
			<!-- vertical box -->
			<a
				class="nonblock nontext MenuItem MenuItemWithSubMenu MuseMenuActive rounded-corners clearfix colelem"
				id="u1570" href="index.html"> <!-- horizontal box -->
				<div class="MenuItemLabel NoWrap clearfix grpelem" id="u1572-4">
					<!-- content -->
					<p class="shared_content" data-content-guid="u1572-4_0_content">HOME</p>
				</div>
			</a>
		</div>
		<div class="MenuItemContainer clearfix grpelem" id="u1560">
			<!-- vertical box -->
			<a
				class="nonblock nontext MenuItem MenuItemWithSubMenu rounded-corners clearfix colelem"
				id="u1563" href="about.html"> <!-- horizontal box -->
				<div class="MenuItemLabel NoWrap clearfix grpelem" id="u1566-4">
					<!-- content -->
					<p class="shared_content" data-content-guid="u1566-4_0_content">ABOUT
						US</p>
				</div>
			</a>
		</div>
		<div class="MenuItemContainer clearfix grpelem" id="u1574">
			<!-- vertical box -->
			<a
				class="nonblock nontext MenuItem MenuItemWithSubMenu rounded-corners clearfix colelem"
				id="u1575" href="classes.html"> <!-- horizontal box -->
				<div class="MenuItemLabel NoWrap clearfix grpelem" id="u1578-4">
					<!-- content -->
					<p class="shared_content" data-content-guid="u1578-4_0_content">CLASSES</p>
				</div>
			</a>
		</div>
		<div class="MenuItemContainer clearfix grpelem" id="u1588">
			<!-- vertical box -->
			<a
				class="nonblock nontext MenuItem MenuItemWithSubMenu rounded-corners clearfix colelem"
				id="u1589" href="teachers.html"> <!-- horizontal box -->
				<div class="MenuItemLabel NoWrap clearfix grpelem" id="u1590-4">
					<!-- content -->
					<p class="shared_content" data-content-guid="u1590-4_0_content">TEACHERS</p>
				</div>
			</a>
		</div>
		<div class="MenuItemContainer clearfix grpelem" id="u1581">
			<!-- vertical box -->
			<a
				class="nonblock nontext MenuItem MenuItemWithSubMenu rounded-corners clearfix colelem"
				id="u1582" href="gallery.html"> <!-- horizontal box -->
				<div class="MenuItemLabel NoWrap clearfix grpelem" id="u1585-4">
					<!-- content -->
					<p class="shared_content" data-content-guid="u1585-4_0_content">GALLERY</p>
				</div>
			</a>
		</div>
		<div class="MenuItemContainer clearfix grpelem" id="u1553">
			<!-- vertical box -->
			<a
				class="nonblock nontext MenuItem MenuItemWithSubMenu rounded-corners clearfix colelem"
				id="u1556" href="contact.html"> <!-- horizontal box -->
				<div class="MenuItemLabel NoWrap clearfix grpelem" id="u1557-4">
					<!-- content -->
					<p class="shared_content" data-content-guid="u1557-4_0_content">CONTACT
						US</p>
				</div>
			</a>
		</div>
	</nav>
	<div class="museBGSize clearfix shared_content" id="u1595-3"
		data-content-guid="u1595-3_content">
		<!-- content -->
		<p id="u1595">&nbsp;</p>
	</div>
	<div class="clearfix shared_content" id="u1596-4"
		data-content-guid="u1596-4_content">
		<!-- content -->
		<p id="u1596-2"></p>
	</div>
	<div class="clearfix shared_content" id="u1597-4"
		data-content-guid="u1597-4_content">
		<!-- content -->
		<p id="u1597-2"></p>
	</div>
	<div class="clearfix shared_content" id="u1598-4"
		data-content-guid="u1598-4_content">
		<!-- content -->
		<p id="u1598-2"></p>
	</div>
	<div class="clearfix shared_content" id="u1599-4"
		data-content-guid="u1599-4_content">
		<!-- content -->
		<p id="u1599-2"></p>
	</div>
	<div class="clearfix shared_content" id="u1600-4"
		data-content-guid="u1600-4_content">
		<!-- content -->
		<p id="u1600-2"></p>
	</div>
	<div class="clearfix shared_content" id="u1601-4"
		data-content-guid="u1601-4_content">
		<!-- content -->
		<p id="u1601-2">support@kids.com</p>
	</div>
	<div class="clearfix shared_content" id="u1602-4"
		data-content-guid="u1602-4_content">
		<!-- content -->
		<p id="u1602-2"></p>
	</div>
</div>