<div class="clearfix colelem shared_content" id="pu4769"
	data-content-guid="pu4769_content">
	<!-- group -->
	<div class="browser_width grpelem" id="u4769-bw" style="height: 500px;">
		<div class="museBGSize" id="u4769">
			<!-- group -->
			<div class="clearfix" id="u4769_align_to_page">
				<div class="slideInUp clearfix grpelem shared_content wow"
					id="u4780-4" data-content-guid="u4780-4_content"
					style="visibility: visible; animation-name: slideInUp;">
					<!-- content -->
					<p>Students</p>
				</div>
				<div class="slideInUp clearfix grpelem shared_content wow"
					id="u4772-4" data-content-guid="u4772-4_content"
					style="visibility: visible; animation-name: slideInUp;">
					<!-- content -->
					<p>Teachers</p>
				</div>
				<div class="slideInUp clearfix grpelem shared_content wow"
					id="u4775-4" data-content-guid="u4775-4_content"
					style="visibility: visible; animation-name: slideInUp;">
					<!-- content -->
					<p>Class Rooms</p>
				</div>
				<div class="slideInUp clearfix grpelem shared_content wow"
					id="u4778-4" data-content-guid="u4778-4_content"
					style="visibility: visible; animation-name: slideInUp;">
					<!-- content -->
					<p>Bus Schools</p>
				</div>
			</div>
		</div>
	</div>
	<div class="rgba-background rounded-corners grpelem shared_content"
		id="u4770"
		data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=0.7071,M12=-0.7071,M21=0.7071,M22=0.7071,SizingMethod='auto expand')"
		data-mu-ie-matrix-dx="-24" data-mu-ie-matrix-dy="-24"
		data-content-guid="u4770_content">
		<!-- simple frame -->
	</div>
	<div class="counter clearfix grpelem shared_content" id="u4771-4"
		data-content-guid="u4771-4_content">125</div>
	<div class="rgba-background rounded-corners grpelem shared_content"
		id="u4773"
		data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=0.7071,M12=-0.7071,M21=0.7071,M22=0.7071,SizingMethod='auto expand')"
		data-mu-ie-matrix-dx="-24" data-mu-ie-matrix-dy="-24"
		data-content-guid="u4773_content">
		<!-- simple frame -->
	</div>
	<div class="counter clearfix grpelem shared_content" id="u4774-4"
		data-content-guid="u4774-4_content">32</div>
	<div class="rgba-background rounded-corners grpelem shared_content"
		id="u4776"
		data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=0.7071,M12=-0.7071,M21=0.7071,M22=0.7071,SizingMethod='auto expand')"
		data-mu-ie-matrix-dx="-24" data-mu-ie-matrix-dy="-24"
		data-content-guid="u4776_content">
		<!-- simple frame -->
	</div>
	<div class="counter clearfix grpelem shared_content" id="u4777-4"
		data-content-guid="u4777-4_content">15</div>
	<div class="rgba-background rounded-corners grpelem shared_content"
		id="u4779"
		data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=0.7071,M12=-0.7071,M21=0.7071,M22=0.7071,SizingMethod='auto expand')"
		data-mu-ie-matrix-dx="-24" data-mu-ie-matrix-dy="-24"
		data-content-guid="u4779_content">
		<!-- simple frame -->
	</div>
	<div class="counter clearfix grpelem shared_content" id="u4781-4"
		data-content-guid="u4781-4_content">852</div>
</div>