<div class="browser_width colelem shared_content" id="u5534-bw"
	data-content-guid="u5534-bw_content" style="height: 600px;">
	<div id="u5534">
		<!-- group -->
		<div class="clearfix" id="u5534_align_to_page">
			<div class="clearfix grpelem" id="pu5536-4">
				<!-- column -->
				<div class="slideInLeft clearfix colelem shared_content wow"
					id="u5536-4" data-content-guid="u5536-4_content"
					style="visibility: visible; animation-name: slideInLeft;">
					<!-- content -->
					<h3 id="u5536-2">Why Choose Us</h3>
				</div>
				<div class="slideInLeft clearfix colelem shared_content wow"
					id="u5535-4" data-content-guid="u5535-4_content"
					style="visibility: visible; animation-name: slideInLeft;">
					<!-- content -->
					<h2 id="u5535-2">Best Kindergarten</h2>
				</div>
				<div class="slideInLeft clearfix colelem shared_content wow"
					id="u5538-4" data-content-guid="u5538-4_content"
					style="visibility: visible; animation-name: slideInLeft;">
					<!-- content -->
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
						sed diam nonummy nibh euismod.&nbsp; Praesent interdum est gravida
						vehicula est node maecenas loareet morbi a dosis luctus novum est
						praesent.&nbsp; Praesent interdum est gravida vehicula est node
						maecenas loareet morbi a dosis luctus novum est praesent.</p>
				</div>
				<div class="clearfix colelem shared_content" id="pu5542-4"
					data-content-guid="pu5542-4_content">
					<!-- group -->
					<div class="slideInLeft rounded-corners clearfix grpelem wow"
						id="u5542-4"
						style="visibility: visible; animation-name: slideInLeft;">
						<!-- content -->
						<p id="u5542-2"></p>
					</div>
					<div class="slideInLeft clearfix grpelem wow" id="u5539-4"
						style="visibility: visible; animation-name: slideInLeft;">
						<!-- content -->
						<p>100% education, for your kids, consectetuer adipiscing
							elit, sed diam nonummy nibh euismod.</p>
					</div>
				</div>
				<div class="clearfix colelem shared_content" id="pu5543-4"
					data-content-guid="pu5543-4_content">
					<!-- group -->
					<div class="slideInLeft rounded-corners clearfix grpelem wow"
						id="u5543-4"
						style="visibility: visible; animation-name: slideInLeft;">
						<!-- content -->
						<p id="u5543-2"></p>
					</div>
					<div class="slideInLeft clearfix grpelem wow" id="u5540-4"
						style="visibility: visible; animation-name: slideInLeft;">
						<!-- content -->
						<p>More programs activities, sed diam nonummy nibh euismod.
							Lorem ipsum dolor sit amet.</p>
					</div>
				</div>
				<div class="clearfix colelem shared_content" id="pu5544-4"
					data-content-guid="pu5544-4_content">
					<!-- group -->
					<div class="slideInLeft rounded-corners clearfix grpelem wow"
						id="u5544-4"
						style="visibility: visible; animation-name: slideInLeft;">
						<!-- content -->
						<p id="u5544-2"></p>
					</div>
					<div class="slideInLeft clearfix grpelem wow" id="u5541-4"
						style="visibility: visible; animation-name: slideInLeft;">
						<!-- content -->
						<p>More benefit nonummy nibh euismod. Lorem ipsum dolor sit
							amet, consectetuer adipiscing elit.</p>
					</div>
				</div>
			</div>
			<div class="museBGSize grpelem shared_content" id="u5537"
				data-content-guid="u5537_content">
				<!-- simple frame -->
			</div>
		</div>
	</div>
</div>