{if isset($tips)}
	{foreach $tips AS $tip}
		{include file="../block/tip-left.html" tip=$tip}
	{/foreach}
{/if}

<section class="nicdark_section  vc_row wpb_row vc_inner vc_row-fluid">
	<div
		class="vc_col-sm-12 nicdark_bg_grey nicdark_radius nicdark_shadow wpb_column vc_column_container vc_custom_1421233115518">
		<div class="wpb_wrapper">


			<div class=" nicdark_archive1 nicdark_relative">

				<a target="" href=""
					class="nicdark_btn_icon nicdark_bg_blue extrabig nicdark_radius_circle white nicdark_absolute nicdark_shadow"><i
					class="icon-location-outline"></i></a>

				<div class="nicdark_activity nicdark_marginleft100">
					<h4>TIMES SQUARE (NY)</h4>
					<div class="nicdark_space20"></div>
					<p>Lorem ipsum dolor sit amet, consec adipiscing elit.</p>
					<div class="nicdark_space20"></div>

					<div class="nicdark_space5"></div>
				</div>
			</div>


		</div>
	</div>
</section>
<section
	class="nicdark_section  vc_row wpb_row vc_inner vc_row-fluid vc_custom_1422455856614">
	<div
		class="vc_col-sm-12 nicdark_bg_grey nicdark_radius nicdark_shadow wpb_column vc_column_container vc_custom_1421233136895">
		<div class="wpb_wrapper">


			<div class=" nicdark_archive1 nicdark_relative">

				<a target="" href=""
					class="nicdark_btn_icon nicdark_bg_green extrabig nicdark_radius_circle white nicdark_absolute nicdark_shadow"><i
					class="icon-wristwatch"></i></a>

				<div class="nicdark_activity nicdark_marginleft100">
					<h4>START AT 8:00 AM</h4>
					<div class="nicdark_space20"></div>
					<p>Lorem ipsum dolor sit amet, consec adipiscing elit.</p>
					<div class="nicdark_space20"></div>

					<div class="nicdark_space5"></div>
				</div>
			</div>


		</div>
	</div>
</section>
<section id=""
	class="nicdark_section  vc_row wpb_row vc_inner vc_row-fluid vc_custom_1422455866009">
	<div
		class="vc_col-sm-12 nicdark_archive1 nicdark_bg_grey nicdark_radius nicdark_shadow wpb_column vc_column_container vc_custom_1422445657613">
		<div class="wpb_wrapper">


			<div class=" nicdark_archive1 nicdark_relative">

				<a target="" href=""
					class="nicdark_btn_icon nicdark_bg_yellow extrabig nicdark_radius_circle white nicdark_absolute nicdark_shadow"><i
					class="icon-file-pdf"></i></a>

				<div class="nicdark_activity nicdark_marginleft100">
					<h4>PROGRAM PDF</h4>
					<div class="nicdark_space20"></div>
					<p>Lorem ipsum dolor sit amet, consec adipiscing elit.</p>
					<div class="nicdark_space20"></div>

					<div class="nicdark_space5"></div>
				</div>
			</div>


		</div>
	</div>
</section>
<section id=""
	class="nicdark_section  vc_row wpb_row vc_inner vc_row-fluid vc_custom_1422455871887">
	<div
		class="vc_col-sm-12 nicdark_archive1 nicdark_bg_grey nicdark_radius nicdark_shadow white wpb_column vc_column_container vc_custom_1422524524200">
		<div class="wpb_wrapper">


			<div class=" nicdark_archive1 nicdark_relative">

				<a target="" href=""
					class="nicdark_btn_icon nicdark_bg_red extrabig nicdark_radius_circle white nicdark_absolute nicdark_shadow"><i
					class="icon-download-outline"></i></a>

				<div class="nicdark_activity nicdark_marginleft100">
					<h4>ENTRY FORM</h4>
					<div class="nicdark_space20"></div>
					<p>Lorem ipsum dolor sit amet, consec adipiscing elit.</p>
					<div class="nicdark_space20"></div>

					<div class="nicdark_space5"></div>
				</div>
			</div>


		</div>
	</div>
</section>
