<section id="home_advanced_search"
	class="nicdark_section  vc_row wpb_row vc_row-fluid vc_custom_1422786371165">
	<div class="nicdark_container nicdark_vc nicdark_clearfix">
		<div
			class="vc_col-sm-12 wpb_column vc_column_container vc_custom_1422570577240">
			<div class="wpb_wrapper">

				<div
					class="wpb_tabs wpb_content_element  nicdark_tab_dark nicdark_shadow_none"
					data-interval="0">
					<div
						class="wpb_wrapper wpb_tour_tabs_wrapper ui-tabs vc_clearfix ui-widget ui-widget-content ui-corner-all">
						<ul
							class="wpb_tabs_nav ui-tabs-nav vc_clearfix ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all"
							role="tablist">
							<li
								class="nicdark_width100_iphonepotr  ui-state-default ui-corner-top ui-tabs-active ui-state-active"
								role="tab" tabindex="0"
								aria-controls="tab-1422570052-1-62dac0-a1ae"
								aria-labelledby="ui-id-1" aria-selected="true"
								aria-expanded="true"><a
								class="title white nicdark_bg_blue  ui-tabs-anchor"
								href="#tab-1422570052-1-62dac0-a1ae" role="presentation"
								tabindex="-1" id="ui-id-1"><i class="icon-calendar"></i>
									EVENTS</a></li>
							<li
								class="nicdark_width100_iphonepotr  ui-state-default ui-corner-top"
								role="tab" tabindex="-1"
								aria-controls="tab-1422570052-2-93dac0-a1ae"
								aria-labelledby="ui-id-2" aria-selected="false"
								aria-expanded="false"><a
								class="title white nicdark_bg_green  ui-tabs-anchor"
								href="#tab-1422570052-2-93dac0-a1ae" role="presentation"
								tabindex="-1" id="ui-id-2"><i class="icon-tree"></i>
									EXCURSIONS</a></li>
							<li
								class="nicdark_width100_iphonepotr  ui-state-default ui-corner-top"
								role="tab" tabindex="-1"
								aria-controls="tab-1422570608917-2-10dac0-a1ae"
								aria-labelledby="ui-id-3" aria-selected="false"
								aria-expanded="false"><a
								class="title white nicdark_bg_yellow  ui-tabs-anchor"
								href="#tab-1422570608917-2-10dac0-a1ae" role="presentation"
								tabindex="-1" id="ui-id-3"><i class="icon-graduation-cap-1"></i>
									COURSES</a></li>
						</ul>


						<div id="tab-1422570052-1-62dac0-a1ae"
							class="wpb_tab nicdark_radius_bottom nicdark_shadow nicdark_bg_grey ui-tabs-panel wpb_ui-tabs-hide vc_clearfix ui-widget-content ui-corner-bottom"
							aria-labelledby="ui-id-1" role="tabpanel" style="display: block;"
							aria-hidden="false">

							<form class="nicdark_advanced_search"
								action="http://www.nicdarkthemes.com/themes/baby-kids/wp/demo/events/"
								method="GET">
								<input value="true" name="advsearch" type="hidden"> <input
									value="events" name="posttype" type="hidden">
								<div style="box-sizing: border-box; padding: 0px 10px;"
									class="grid grid_3 percentage">
									<input
										class="nicdark_bg_greydark2 nicdark_radius nicdark_shadow grey medium subtitle"
										placeholder="KEYWORD" name="keyword" value="" type="text">
								</div>
								<div style="box-sizing: border-box; padding: 0px 10px;"
									class="grid grid_3 percentage">
									<select name="typology-event"
										class="nicdark_bg_greydark2 nicdark_radius nicdark_shadow grey medium subtitle"><option
											value="">ALL TYPES</option>
										<option value="educational">Educational</option></select>
								</div>
								<div style="box-sizing: border-box; padding: 0px 10px;"
									class="grid grid_3 percentage">
									<input
										class="nicdark_bg_greydark2 nicdark_radius nicdark_shadow grey medium subtitle nicdark_calendar hasDatepicker"
										placeholder="DATE" name="date" value="" id="dp1489002413298"
										type="text">
								</div>

								<div style="box-sizing: border-box; padding: 0px 10px;"
									class="grid grid_3 percentage">
									<input value="SEARCH"
										class="nicdark_btn fullwidth nicdark_bg_yellow nicdark_shadow"
										type="submit">
								</div>
								<input value="typology-event" name="taxonomy" type="hidden">

							</form>
						</div>
						<div id="tab-1422570052-2-93dac0-a1ae"
							class="wpb_tab nicdark_radius_bottom nicdark_shadow nicdark_bg_grey ui-tabs-panel wpb_ui-tabs-hide vc_clearfix ui-widget-content ui-corner-bottom"
							aria-labelledby="ui-id-2" role="tabpanel" style="display: none;"
							aria-hidden="true">

							<form class="nicdark_advanced_search"
								action="http://www.nicdarkthemes.com/themes/baby-kids/wp/demo/excursions/"
								method="GET">
								<input value="true" name="advsearch" type="hidden"> <input
									value="excursions" name="posttype" type="hidden">
								<div style="box-sizing: border-box; padding: 0px 10px;"
									class="grid grid_3 percentage">
									<input
										class="nicdark_bg_greydark2 nicdark_radius nicdark_shadow grey medium subtitle"
										placeholder="KEYWORD" name="keyword" value="" type="text">
								</div>
								<div style="box-sizing: border-box; padding: 0px 10px;"
									class="grid grid_3 percentage">
									<select name="typology-excursion"
										class="nicdark_bg_greydark2 nicdark_radius nicdark_shadow grey medium subtitle"><option
											value="">ALL CATEGORIES</option>
										<option value="activity">Activity</option></select>
								</div>
								<div style="box-sizing: border-box; padding: 0px 10px;"
									class="grid grid_3 percentage">
									<input
										class="nicdark_bg_greydark2 nicdark_radius nicdark_shadow grey medium subtitle nicdark_calendar hasDatepicker"
										placeholder="DATE" name="date" value="" id="dp1489002413299"
										type="text">
								</div>

								<div style="box-sizing: border-box; padding: 0px 10px;"
									class="grid grid_3 percentage">
									<input value="SEARCH"
										class="nicdark_btn fullwidth nicdark_bg_yellow nicdark_shadow"
										type="submit">
								</div>
								<input value="typology-excursion" name="taxonomy" type="hidden">

							</form>
						</div>
						<div id="tab-1422570608917-2-10dac0-a1ae"
							class="wpb_tab nicdark_radius_bottom nicdark_shadow nicdark_bg_grey ui-tabs-panel wpb_ui-tabs-hide vc_clearfix ui-widget-content ui-corner-bottom"
							aria-labelledby="ui-id-3" role="tabpanel" style="display: none;"
							aria-hidden="true">

							<form class="nicdark_advanced_search"
								action="http://www.nicdarkthemes.com/themes/baby-kids/wp/demo/courses/"
								method="GET">
								<input value="true" name="advsearch" type="hidden"> <input
									value="courses" name="posttype" type="hidden">
								<div style="box-sizing: border-box; padding: 0px 10px;"
									class="grid grid_4 percentage">
									<input
										class="nicdark_bg_greydark2 nicdark_radius nicdark_shadow grey medium subtitle"
										placeholder="KEYWORD" name="keyword" value="" type="text">
								</div>
								<div style="box-sizing: border-box; padding: 0px 10px;"
									class="grid grid_4 percentage">
									<select name="typology-course"
										class="nicdark_bg_greydark2 nicdark_radius nicdark_shadow grey medium subtitle"><option
											value="">ALL COURSES</option>
										<option value="primary">Primary</option>
										<option value="secondary">Secondary</option></select>
								</div>
								<div style="box-sizing: border-box; padding: 0px 10px;"
									class="grid grid_4 percentage">
									<input value="SEARCH"
										class="nicdark_btn fullwidth nicdark_bg_yellow nicdark_shadow"
										type="submit">
								</div>
								<input value="typology-course" name="taxonomy" type="hidden">

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>