<div id="recent-posts-3" class="widget widget_recent_entries">
		<h2>RECENT POSTS</h2>
		<ul>
					<li>
				<a href="http://www.nicdarkthemes.com/themes/baby-kids/wp/demo/doctor-in-the-school/">DOCTOR IN THE SCHOOL</a>
						</li>
					<li>
				<a href="http://www.nicdarkthemes.com/themes/baby-kids/wp/demo/excursion-presentation/">EXCURSION PRESENTATION</a>
						</li>
					<li>
				<a href="http://www.nicdarkthemes.com/themes/baby-kids/wp/demo/end-of-the-school-year/">END OF THE SCHOOL YEAR</a>
						</li>
					<li>
				<a href="http://www.nicdarkthemes.com/themes/baby-kids/wp/demo/best-cooking-activities/">BEST COOKING ACTIVITIES !</a>
						</li>
					<li>
				<a href="http://www.nicdarkthemes.com/themes/baby-kids/wp/demo/bio-special-meal/">BIO SPECIAL MEAL</a>
						</li>
		</ul>
	</div>