<div id="tag_cloud-3" class="widget widget_tag_cloud">
		<h2>TAGS</h2>
		<div class="tagcloud"><a href="http://www.nicdarkthemes.com/themes/baby-kids/wp/demo/tag/book/" class="tag-link-7" title="1 topic" style="font-size: 15px;">book</a>
			<a href="http://www.nicdarkthemes.com/themes/baby-kids/wp/demo/tag/course/" class="tag-link-8" title="3 topics" style="font-size: 15px;">course</a>
			<a href="http://www.nicdarkthemes.com/themes/baby-kids/wp/demo/tag/courses/" class="tag-link-9" title="1 topic" style="font-size: 15px;">courses</a>
			<a href="http://www.nicdarkthemes.com/themes/baby-kids/wp/demo/tag/educational/" class="tag-link-10" title="6 topics" style="font-size: 15px;">educational</a>
			<a href="http://www.nicdarkthemes.com/themes/baby-kids/wp/demo/tag/excursions/" class="tag-link-11" title="2 topics" style="font-size: 15px;">excursions</a>
			<a href="http://www.nicdarkthemes.com/themes/baby-kids/wp/demo/tag/math/" class="tag-link-14" title="3 topics" style="font-size: 15px;">math</a>
			<a href="http://www.nicdarkthemes.com/themes/baby-kids/wp/demo/tag/primary/" class="tag-link-12" title="1 topic" style="font-size: 15px;">primary</a>
			<a href="http://www.nicdarkthemes.com/themes/baby-kids/wp/demo/tag/school/" class="tag-link-13" title="3 topics" style="font-size: 15px;">school</a>
			<a href="http://www.nicdarkthemes.com/themes/baby-kids/wp/demo/tag/sport/" class="tag-link-15" title="1 topic" style="font-size: 15px;">sport</a>
			<a href="http://www.nicdarkthemes.com/themes/baby-kids/wp/demo/tag/teachers/" class="tag-link-16" title="1 topic" style="font-size: 15px;">teachers</a>
		</div>
	</div>