<section id="home_activities_title"
	class="nicdark_section  vc_row wpb_row vc_row-fluid vc_custom_1422888793344">
	<div class="nicdark_container nicdark_vc nicdark_clearfix">
		<div class="vc_col-sm-12 wpb_column vc_column_container">
			<div class="wpb_wrapper">
				<h1 style="color:;" class=" subtitle left">OUR ACTIVITIES</h1>
				<div class="vc_empty_space" style="height: 20px">
					<span class="vc_empty_space_inner"></span>
				</div>

				<h3 style="color: #a4a4a4;" class=" subtitle left">OUR BEST
					SERVICES FOR YOUR KIDS</h3>
				<div class="vc_empty_space" style="height: 20px">
					<span class="vc_empty_space_inner"></span>
				</div>

				<div class="nicdark_divider  left big ">
					<span style="background-color: #edbf47;" class="nicdark_radius"></span>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="home_services1"
	class="nicdark_section  vc_row wpb_row vc_row-fluid vc_custom_1422786236633">
	<div class="nicdark_container nicdark_vc nicdark_clearfix">
		<div
			class="vc_col-sm-4 wpb_column vc_column_container vc_custom_1422721955891">
			<div class="wpb_wrapper">


				<div class=" nicdark_archive1 nicdark_relative">

					<div
						class="nicdark_btn_iconbg nicdark_bg_yellow nicdark_absolute extrabig nicdark_shadow nicdark_radius">
						<div>
							<i class="icon-leaf-1 nicdark_iconbg left big white"></i>
						</div>
					</div>

					<div class="nicdark_activity nicdark_marginleft100">
						<h4>CUSTOM FOOD</h4>
						<div class="nicdark_space20"></div>
						<p>Lorem ipsum dolor sit amet, consec adipiscing elit.
							Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
						<div class="nicdark_space20"></div>
						<a target=" _blank" href="#" class="nicdark_btn grey"><i
							class="icon-right-open-outline"></i> More</a>
						<div class="nicdark_space5"></div>
					</div>
				</div>


			</div>
		</div>

		<div
			class="vc_col-sm-4 wpb_column vc_column_container vc_custom_1422721969653">
			<div class="wpb_wrapper">


				<div class=" nicdark_archive1 nicdark_relative">

					<div
						class="nicdark_btn_iconbg nicdark_bg_orange nicdark_absolute extrabig nicdark_shadow nicdark_radius">
						<div>
							<i class="icon-stopwatch nicdark_iconbg left big white"></i>
						</div>
					</div>

					<div class="nicdark_activity nicdark_marginleft100">
						<h4>MANY SPORTS</h4>
						<div class="nicdark_space20"></div>
						<p>Lorem ipsum dolor sit amet, consec adipiscing elit.
							Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
						<div class="nicdark_space20"></div>
						<a target=" _blank" href="#" class="nicdark_btn grey"><i
							class="icon-right-open-outline"></i> More</a>
						<div class="nicdark_space5"></div>
					</div>
				</div>


			</div>
		</div>

		<div
			class="vc_col-sm-4 wpb_column vc_column_container vc_custom_1422721981191">
			<div class="wpb_wrapper">


				<div class=" nicdark_archive1 nicdark_relative">

					<div
						class="nicdark_btn_iconbg nicdark_bg_green nicdark_absolute extrabig nicdark_shadow nicdark_radius">
						<div>
							<i class="icon-cab nicdark_iconbg left big white"></i>
						</div>
					</div>

					<div class="nicdark_activity nicdark_marginleft100">
						<h4>BUS SERVICE</h4>
						<div class="nicdark_space20"></div>
						<p>Lorem ipsum dolor sit amet, consec adipiscing elit.
							Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
						<div class="nicdark_space20"></div>
						<a target=" _blank" href="#" class="nicdark_btn grey"><i
							class="icon-right-open-outline"></i> More</a>
						<div class="nicdark_space5"></div>
					</div>
				</div>


			</div>
		</div>
	</div>
</section>
<section id="home_services2"
	class="nicdark_section  vc_row wpb_row vc_row-fluid vc_custom_1422786244762">
	<div class="nicdark_container nicdark_vc nicdark_clearfix">
		<div
			class="vc_col-sm-4 wpb_column vc_column_container vc_custom_1422722009693">
			<div class="wpb_wrapper">


				<div class=" nicdark_archive1 nicdark_relative">

					<div
						class="nicdark_btn_iconbg nicdark_bg_blue nicdark_absolute extrabig nicdark_shadow nicdark_radius">
						<div>
							<i class="icon-headphones-1 nicdark_iconbg left big white"></i>
						</div>
					</div>

					<div class="nicdark_activity nicdark_marginleft100">
						<h4>MUSIC LESSON</h4>
						<div class="nicdark_space20"></div>
						<p>Lorem ipsum dolor sit amet, consec adipiscing elit.
							Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
						<div class="nicdark_space20"></div>
						<a target=" _blank" href="#" class="nicdark_btn grey"><i
							class="icon-right-open-outline"></i> More</a>
						<div class="nicdark_space5"></div>
					</div>
				</div>


			</div>
		</div>

		<div
			class="vc_col-sm-4 wpb_column vc_column_container vc_custom_1422722019608">
			<div class="wpb_wrapper">


				<div class=" nicdark_archive1 nicdark_relative">

					<div
						class="nicdark_btn_iconbg nicdark_bg_violet nicdark_absolute extrabig nicdark_shadow nicdark_radius">
						<div>
							<i class="icon-map nicdark_iconbg left big white"></i>
						</div>
					</div>

					<div class="nicdark_activity nicdark_marginleft100">
						<h4>EXCURSIONS</h4>
						<div class="nicdark_space20"></div>
						<p>Lorem ipsum dolor sit amet, consec adipiscing elit.
							Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
						<div class="nicdark_space20"></div>
						<a target=" _blank" href="#" class="nicdark_btn grey"><i
							class="icon-right-open-outline"></i> More</a>
						<div class="nicdark_space5"></div>
					</div>
				</div>


			</div>
		</div>

		<div
			class="vc_col-sm-4 wpb_column vc_column_container vc_custom_1422722028701">
			<div class="wpb_wrapper">


				<div class=" nicdark_archive1 nicdark_relative">

					<div
						class="nicdark_btn_iconbg nicdark_bg_red nicdark_absolute extrabig nicdark_shadow nicdark_radius">
						<div>
							<i class="icon-globe-2 nicdark_iconbg left big white"></i>
						</div>
					</div>

					<div class="nicdark_activity nicdark_marginleft100">
						<h4>LANGUAGES</h4>
						<div class="nicdark_space20"></div>
						<p>Lorem ipsum dolor sit amet, consec adipiscing elit.
							Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
						<div class="nicdark_space20"></div>
						<a target=" _blank" href="#" class="nicdark_btn grey"><i
							class="icon-right-open-outline"></i> More</a>
						<div class="nicdark_space5"></div>
					</div>
				</div>


			</div>
		</div>
	</div>
</section>
<section
	style="background: transparent url("http://www.nicdarkthemes.com/themes/baby-kids/wp/demo/wp-content/uploads/2015/01/desk-color-1024x682.jpg") repeat fixed 50% 103px/cover;"
	id="button_parall"
	class="nicdark_section  nicdark_imgparallax  vc_row wpb_row vc_row-fluid">
	<div class="nicdark_filter blue">
		<div class="nicdark_container nicdark_vc nicdark_clearfix">
			<div class="vc_col-sm-12 wpb_column vc_column_container">
				<div class="wpb_wrapper">
					<section id="home_buttons"
						class="nicdark_section  vc_row wpb_row vc_inner vc_row-fluid vc_custom_1422786348044">
						<div
							class="vc_col-sm-6 nicdark_center wpb_column vc_column_container">
							<div class="wpb_wrapper">
								<a title="ALL COURSES" target=" _blank" href="#"
									class="nicdark_disable_floatright_iphonepotr nicdark_margintop20 nicdark_btn nicdark_bg_violet medium right  nicdark_shadow  nicdark_radius white">
									<i class=" nicdark_marginright10  icon-th-outline"></i>ALL
									COURSES
								</a>

							</div>
						</div>

						<div
							class="vc_col-sm-6 nicdark_center wpb_column vc_column_container">
							<div class="wpb_wrapper">
								<a title="CONTACT US" target=" _blank" href="#"
									class="nicdark_disable_floatleft_iphonepotr left nicdark_margintop20 nicdark_btn nicdark_bg_violet medium   nicdark_shadow  nicdark_radius white">
									<i class=" nicdark_marginright10  icon-pencil-1"></i>CONTACT US
								</a>

							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
</section>