<section id="home_focus"
	class="nicdark_section  vc_row wpb_row vc_row-fluid vc_custom_1422786156172">
	<div class="nicdark_container nicdark_vc nicdark_clearfix">
		<div
			class="vc_col-sm-12 nicdark_upper_level1 wpb_column vc_column_container vc_custom_1422569968990">
			<div class="wpb_wrapper">
				<section id="home_focus_inner"
					class="nicdark_section  vc_row wpb_row vc_inner vc_row-fluid">
					<div
						class="vc_col-sm-3 wpb_column vc_column_container vc_custom_1421748127192">
						<div class="wpb_wrapper">


							<div
								class="nicdark_radius_left nicdark_textevidence nicdark_bg_blue nicdark_shadow center">
								<div class="nicdark_margin30">
									<h2 class="white subtitle">
										<a target=" _blank" href="#" class="white">COURSES</a>
									</h2>
								</div>
								<i
									class="nicdark_zoom icon-pencil-2 nicdark_iconbg left extrabig blue nicdark_displaynone_ipadland nicdark_displaynone_ipadpotr"></i>
							</div>


						</div>
					</div>

					<div
						class="vc_col-sm-3 wpb_column vc_column_container vc_custom_1421748169335">
						<div class="wpb_wrapper">


							<div
								class=" nicdark_textevidence nicdark_bg_yellow nicdark_shadow center">
								<div class="nicdark_margin30">
									<h2 class="white subtitle">
										<a target=" _blank" href="#" class="white">PRICES</a>
									</h2>
								</div>
								<i
									class="nicdark_zoom icon-money-1 nicdark_iconbg left extrabig yellow nicdark_displaynone_ipadland nicdark_displaynone_ipadpotr"></i>
							</div>


						</div>
					</div>

					<div
						class="vc_col-sm-3 wpb_column vc_column_container vc_custom_1421748235576">
						<div class="wpb_wrapper">


							<div
								class=" nicdark_textevidence nicdark_bg_orange nicdark_shadow center">
								<div class="nicdark_margin30">
									<h2 class="white subtitle">
										<a target=" _blank" href="#" class="white">EVENTS</a>
									</h2>
								</div>
								<i
									class="nicdark_zoom icon-music-2 nicdark_iconbg left extrabig orange nicdark_displaynone_ipadland nicdark_displaynone_ipadpotr"></i>
							</div>


						</div>
					</div>

					<div
						class="vc_col-sm-3 wpb_column vc_column_container vc_custom_1421748252369">
						<div class="wpb_wrapper">


							<div
								class="nicdark_radius_right nicdark_textevidence nicdark_bg_green nicdark_shadow center">
								<div class="nicdark_margin30">
									<h2 class="white subtitle">
										<a target=" _blank" href="#" class="white">TEACHERS</a>
									</h2>
								</div>
								<i
									class="nicdark_zoom icon-graduation-cap-1 nicdark_iconbg left extrabig green nicdark_displaynone_ipadland nicdark_displaynone_ipadpotr"></i>
							</div>


						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</section>