<div class="browser_width colelem shared_content" id="u8987-bw"
	data-content-guid="u8987-bw_content" style="height: 200px;">
	<div id="u8987">
		<!-- group -->
		<div class="clearfix" id="u8987_align_to_page">
			<div class="clearfix grpelem" id="pu8992-4">
				<!-- column -->
				<div class="slideInLeft clearfix colelem shared_content wow"
					id="u8992-4" data-content-guid="u8992-4_content"
					style="visibility: visible; animation-name: slideInLeft;">
					<!-- content -->
					<h3 id="u8992-2">Let's join the best kindergarten now!</h3>
				</div>
				<div class="slideInLeft clearfix colelem shared_content wow"
					id="u8991-4" data-content-guid="u8991-4_content"
					style="visibility: visible; animation-name: slideInLeft;">
					<!-- content -->
					<p id="u8991-2">Lorem ipsum dolor sit amet, consectetuer
						adipiscing elit, sed diam nonummy nibh euismod.</p>
				</div>
			</div>
			<a
				class="nonblock nontext Button slideInUp transition rounded-corners clearfix grpelem shared_content wow"
				id="buttonu8989" href="contact.html"
				data-content-guid="buttonu8989_content"
				style="visibility: visible; animation-name: slideInUp;">
				<!-- container box -->
				<div class="clearfix grpelem" id="u8990-4">
					<!-- content -->
					<p>CONTACT US</p>
				</div>
			</a>
		</div>
	</div>
</div>