<div class="slideInUp clearfix colelem shared_content wow" id="u7119-4"
	data-content-guid="u7119-4_content"
	style="visibility: visible; animation-name: slideInUp;">
	<!-- content -->
	<h3 id="u7119-2">- Our Gallery -</h3>
</div>
<div class="slideInUp clearfix colelem shared_content wow" id="u7118-4"
	data-content-guid="u7118-4_content"
	style="visibility: visible; animation-name: slideInUp;">
	<!-- content -->
	<h2 id="u7118-2">Moment from kids</h2>
</div>
<div class="SlideShowWidget clearfix colelem" id="slideshowu21326">
	<!-- none box -->
	<div class="popup_anchor" id="u21360popup">
		<div class="SSSlideLinks clearfix" id="u21360">
			<!-- horizontal-rows box -->
			<div
				class="SSSlideLink transition shadow clip_frame clearfix grpelem"
				id="u21363" role="tab" tabindex="0" aria-controls="u21343">
				<!-- image -->
				<img class="position_content" id="u21363_img" alt=""
					src="images/painting-1673774_1920420x280.jpg?crc=480635940"
					width="420" height="280">
			</div>
			<div
				class="SSSlideLink transition shadow clip_frame clearfix grpelem"
				id="u21375" role="tab" tabindex="-1" aria-controls="u21347">
				<!-- image -->
				<img class="position_content" id="u21375_img" alt=""
					src="images/kids-1093758_1920420x280.jpg?crc=368714461" width="420"
					height="280">
			</div>
			<div
				class="SSSlideLink transition shadow clip_frame clearfix grpelem"
				id="u21365" role="tab" tabindex="-1" aria-controls="u21345">
				<!-- image -->
				<img class="position_content" id="u21365_img" alt=""
					src="images/school-supplies-1695564_1920420x280.jpg?crc=3985648919"
					width="420" height="280">
			</div>
			<div class="SSSlideLink transition shadow clip_frame grpelem"
				id="u21373" role="tab" tabindex="-1" aria-controls="u21355">
				<!-- image -->
				<img class="block" id="u21373_img" alt=""
					src="images/felt-tip-pens-1499043_1920-crop-u21373.jpg?crc=128327922"
					width="380" height="280">
			</div>
			<div
				class="SSSlideLink transition shadow clip_frame clearfix grpelem"
				id="u21369" role="tab" tabindex="-1" aria-controls="u21351">
				<!-- image -->
				<img class="position_content" id="u21369_img" alt=""
					src="images/kindergarten-504672_1920420x280.jpg?crc=3885935963"
					width="420" height="280">
			</div>
			<div
				class="SSSlideLink transition shadow clip_frame clearfix grpelem"
				id="u21361" role="tab" tabindex="-1" aria-controls="u21349">
				<!-- image -->
				<img class="position_content" id="u21361_img" alt=""
					src="images/rainbow-1140420_1920420x280.jpg?crc=63694852"
					width="420" height="280">
			</div>
		</div>
	</div>
	<div class="popup_anchor" id="u21327popup"></div>
	<div class="popup_anchor" id="u21379popup"></div>
	<div class="popup_anchor" id="u21338popup"></div>
	<div class="popup_anchor" id="u21381-4popup"></div>
	<div class="popup_anchor" id="u21357-4popup"></div>
</div>