<div class="slideInUp clearfix colelem shared_content wow" id="u5188-4"
	data-content-guid="u5188-4_content"
	style="visibility: visible; animation-name: slideInUp;">
	<!-- content -->
	<h3 id="u5188-2">- Our Programs -</h3>
</div>
<div class="slideInUp clearfix colelem shared_content wow" id="u5160-4"
	data-content-guid="u5160-4_content"
	style="visibility: visible; animation-name: slideInUp;">
	<!-- content -->
	<h2 id="u5160-2">Popular Classes</h2>
</div>
<div class="clearfix colelem" id="pu5161">
	<!-- group -->
	<div class="clearfix grpelem" id="u5161">
		<!-- group -->
		<div
			class="slideInLeft transition rounded-corners clearfix grpelem wow"
			id="u5169" style="visibility: visible; animation-name: slideInLeft;">
			<!-- column -->
			<div class="position_content" id="u5169_position_content">
				<div
					class="slideInLeft museBGSize rounded-corners colelem shared_content wow"
					id="u5167" data-content-guid="u5167_content"
					style="visibility: visible; animation-name: slideInLeft;">
					<!-- simple frame -->
				</div>
				<div class="clearfix colelem shared_content" id="pu5166-4"
					data-content-guid="pu5166-4_content">
					<!-- group -->
					<div class="slideInLeft clearfix grpelem wow" id="u5166-4"
						style="visibility: visible; animation-name: slideInLeft;">
						<!-- content -->
						<h4 id="u5166-2">Drawing Classes</h4>
					</div>
					<div class="slideInLeft clearfix grpelem wow" id="u5163-4"
						style="visibility: visible; animation-name: slideInLeft;">
						<!-- content -->
						<p id="u5163-2">$20</p>
					</div>
				</div>
				<div class="slideInLeft clearfix colelem shared_content wow"
					id="u5168-5" data-content-guid="u5168-5_content"
					style="visibility: hidden; animation-name: none;">
					<!-- content -->
					<p>
						<span id="u5168">Open Class </span>: 08:00 am - 10:00 am
					</p>
				</div>
				<div class="slideInLeft clearfix colelem shared_content wow"
					id="u5164-4" data-content-guid="u5164-4_content"
					style="visibility: hidden; animation-name: none;">
					<!-- content -->
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
						sed diam nonummy nibh euismod.</p>
				</div>
				<div class="clearfix colelem shared_content" id="pu5162-4"
					data-content-guid="pu5162-4_content">
					<!-- group -->
					<div class="slideInLeft rounded-corners clearfix grpelem wow"
						id="u5162-4" style="visibility: hidden; animation-name: none;">
						<!-- content -->
						<p>Age 2-5 years</p>
					</div>
					<div class="slideInLeft rounded-corners clearfix grpelem wow"
						id="u5165-4" style="visibility: hidden; animation-name: none;">
						<!-- content -->
						<p>Class Size 20</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix grpelem shared_content" id="u5170"
		data-content-guid="u5170_content">
		<!-- group -->
		<div
			class="slideInUp transition rounded-corners shadow clearfix grpelem wow"
			id="u5177" style="visibility: visible; animation-name: slideInUp;">
			<!-- column -->
			<div class="position_content" id="u5177_position_content">
				<div
					class="slideInUp museBGSize rounded-corners colelem shared_content wow"
					id="u5176" data-content-guid="u5176_content"
					style="visibility: visible; animation-name: slideInUp;">
					<!-- simple frame -->
				</div>
				<div class="clearfix colelem shared_content" id="pu5172-4"
					data-content-guid="pu5172-4_content">
					<!-- group -->
					<div class="slideInUp clearfix grpelem wow" id="u5172-4"
						style="visibility: visible; animation-name: slideInUp;">
						<!-- content -->
						<h4 id="u5172-2">Gaming Classes</h4>
					</div>
					<div class="slideInUp clearfix grpelem wow" id="u5175-4"
						style="visibility: visible; animation-name: slideInUp;">
						<!-- content -->
						<p id="u5175-2">$20</p>
					</div>
				</div>
				<div class="slideInUp clearfix colelem shared_content wow"
					id="u5174-5" data-content-guid="u5174-5_content"
					style="visibility: hidden; animation-name: none;">
					<!-- content -->
					<p>
						<span id="u5174">Open Class </span>: 08:00 am - 10:00 am
					</p>
				</div>
				<div class="slideInUp clearfix colelem shared_content wow"
					id="u5173-4" data-content-guid="u5173-4_content"
					style="visibility: hidden; animation-name: none;">
					<!-- content -->
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
						sed diam nonummy nibh euismod.</p>
				</div>
				<div class="clearfix colelem shared_content" id="pu5178-4"
					data-content-guid="pu5178-4_content">
					<!-- group -->
					<div class="slideInUp rounded-corners clearfix grpelem wow"
						id="u5178-4" style="visibility: hidden; animation-name: none;">
						<!-- content -->
						<p>Age 2-5 years</p>
					</div>
					<div class="slideInUp rounded-corners clearfix grpelem wow"
						id="u5171-4" style="visibility: hidden; animation-name: none;">
						<!-- content -->
						<p>Class Size 20</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix grpelem shared_content" id="u5179"
		data-content-guid="u5179_content">
		<!-- group -->
		<div
			class="slideInRight transition rounded-corners clearfix grpelem wow"
			id="u5182" style="visibility: visible; animation-name: slideInRight;">
			<!-- column -->
			<div class="position_content" id="u5182_position_content">
				<div
					class="slideInRight museBGSize rounded-corners colelem shared_content wow"
					id="u5185" data-content-guid="u5185_content"
					style="visibility: visible; animation-name: slideInRight;">
					<!-- simple frame -->
				</div>
				<div class="clearfix colelem shared_content" id="pu5187-4"
					data-content-guid="pu5187-4_content">
					<!-- group -->
					<div class="slideInRight clearfix grpelem wow" id="u5187-4"
						style="visibility: visible; animation-name: slideInRight;">
						<!-- content -->
						<h4 id="u5187-2">Learning Classes</h4>
					</div>
					<div class="slideInRight clearfix grpelem wow" id="u5186-4"
						style="visibility: visible; animation-name: slideInRight;">
						<!-- content -->
						<p id="u5186-2">$20</p>
					</div>
				</div>
				<div class="slideInRight clearfix colelem shared_content wow"
					id="u5184-5" data-content-guid="u5184-5_content"
					style="visibility: hidden; animation-name: none;">
					<!-- content -->
					<p>
						<span id="u5184">Open Class </span>: 08:00 am - 10:00 am
					</p>
				</div>
				<div class="slideInRight clearfix colelem shared_content wow"
					id="u5181-4" data-content-guid="u5181-4_content"
					style="visibility: hidden; animation-name: none;">
					<!-- content -->
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
						sed diam nonummy nibh euismod.</p>
				</div>
				<div class="clearfix colelem shared_content" id="pu5180-4"
					data-content-guid="pu5180-4_content">
					<!-- group -->
					<div class="slideInRight rounded-corners clearfix grpelem wow"
						id="u5180-4" style="visibility: hidden; animation-name: none;">
						<!-- content -->
						<p>Age 2-5 years</p>
					</div>
					<div class="slideInRight rounded-corners clearfix grpelem wow"
						id="u5183-4" style="visibility: hidden; animation-name: none;">
						<!-- content -->
						<p>Class Size 20</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<a
	class="nonblock nontext Button slideInDown transition rounded-corners clearfix colelem shared_content wow"
	id="buttonu5189" href="classes.html"
	data-content-guid="buttonu5189_content"
	style="visibility: visible; animation-name: slideInDown;">
	<!-- container box -->
	<div class="clearfix grpelem" id="u5190-4">
		<!-- content -->
		<p>SEE MORE CLASSES</p>
	</div>
</a>