<div class="slideInUp clearfix colelem shared_content wow" id="u8788-4"
	data-content-guid="u8788-4_content"
	style="visibility: visible; animation-name: slideInUp;">
	<!-- content -->
	<h3 id="u8788-2">- Our Testimonials -</h3>
</div>
<div class="slideInUp clearfix colelem shared_content wow" id="u8787-4"
	data-content-guid="u8787-4_content"
	style="visibility: visible; animation-name: slideInUp;">
	<!-- content -->
	<h3 id="u8787-2">What parents say</h3>
</div>
<div
	class="slideInUp rounded-corners clearfix colelem shared_content wow"
	id="u8808-4" data-content-guid="u8808-4_content"
	style="visibility: visible; animation-name: slideInUp;">
	<!-- content -->
	<p id="u8808-2"></p>
</div>
<div class="PamphletWidget clearfix colelem" id="pamphletu8789">
	<!-- none box -->
	<div class="popup_anchor" id="u8794popup">
		<div class="wp-slideshow-clip"
			style="position: relative; width: 964px; height: 275px; overflow: hidden; left: 0px; top: 0px;">
			<div class="ContainerGroup clearfix" id="u8794"
				style="width: 964px; height: 275px; position: relative; top: 0px; left: -1928px; margin: 0px; overflow: visible;">
				<!-- stack box -->
				<div class="Container clearfix grpelem wp-panel" id="u8795"
					role="tabpanel" aria-labelledby="u8791"
					style="top: 0px; left: 0px; margin: 0px; position: absolute;">
					<!-- column -->
					<div class="slideInUp clearfix colelem shared_content wow"
						id="u8796-4" data-content-guid="u8796-4_content"
						style="visibility: visible; animation-name: slideInUp;">
						<!-- content -->
						<p id="u8796-2">"Donec mattis consequat pharetra. Pellentesque
							egestas turpis eget mauris elementum mollis. Vel ne integre
							vivendo".</p>
					</div>
					<div
						class="slideInUp museBGSize rounded-corners colelem shared_content wow"
						id="u8971" data-content-guid="u8971_content"
						style="visibility: visible; animation-name: slideInUp;">
						<!-- simple frame -->
					</div>
					<div class="slideInUp clearfix colelem shared_content wow"
						id="u8797-4" data-content-guid="u8797-4_content"
						style="visibility: visible; animation-name: slideInUp;">
						<!-- content -->
						<h4>- Alan Doel -</h4>
					</div>
				</div>
				<div class="Container clearfix grpelem wp-panel" id="u8801"
					role="tabpanel" aria-labelledby="u8792"
					style="top: 0px; left: 964px; margin: 0px; position: absolute;">
					<!-- column -->
					<div class="slideInUp clearfix colelem shared_content wow"
						id="u8802-4" data-content-guid="u8802-4_content"
						style="visibility: visible; animation-name: slideInUp;">
						<!-- content -->
						<p id="u8802-2">"Pellentesque egestas turpis eget mauris
							elementum mollis. Vel ne integre vivendo. Ut cum essent facilisi
							scriptorem. Ut cum essent!".</p>
					</div>
					<div
						class="slideInUp museBGSize rounded-corners colelem shared_content wow"
						id="u8956" data-content-guid="u8956_content"
						style="visibility: visible; animation-name: slideInUp;">
						<!-- simple frame -->
					</div>
					<div class="slideInUp clearfix colelem shared_content wow"
						id="u8803-4" data-content-guid="u8803-4_content"
						style="visibility: visible; animation-name: slideInUp;">
						<!-- content -->
						<h4>- Yahdi Romelo -</h4>
					</div>
				</div>
				<div class="Container clearfix grpelem wp-panel wp-panel-active"
					id="u8798" role="tabpanel" aria-labelledby="u8793"
					style="top: 0px; left: 1928px; margin: 0px; position: absolute;">
					<!-- column -->
					<div class="slideInUp clearfix colelem shared_content wow"
						id="u8799-4" data-content-guid="u8799-4_content"
						style="visibility: visible; animation-name: slideInUp;">
						<!-- content -->
						<p id="u8799-2">"Vel ne integre vivendo. Ut cum essent
							facilisi scriptorem, Donec mattis consequat pharetra.
							Pellentesque egestas turpis eget mauris elementum "</p>
					</div>
					<div
						class="slideInUp museBGSize rounded-corners colelem shared_content wow"
						id="u8941" data-content-guid="u8941_content"
						style="visibility: visible; animation-name: slideInUp;">
						<!-- simple frame -->
					</div>
					<div class="slideInUp clearfix colelem shared_content wow"
						id="u8800-4" data-content-guid="u8800-4_content"
						style="visibility: visible; animation-name: slideInUp;">
						<!-- content -->
						<h4>- John Doel -</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ThumbGroup clearfix grpelem" id="u8790" role="tablist">
		<!-- none box -->
		<div class="popup_anchor" id="u8791popup">
			<div class="Thumb popup_element rounded-corners" id="u8791"
				role="tab" tabindex="-1" aria-selected="false" aria-controls="u8795">
				<!-- simple frame -->
			</div>
		</div>
		<div class="popup_anchor" id="u8792popup">
			<div class="Thumb popup_element rounded-corners" id="u8792"
				role="tab" tabindex="-1" aria-selected="false" aria-controls="u8801">
				<!-- simple frame -->
			</div>
		</div>
		<div class="popup_anchor" id="u8793popup">
			<div
				class="Thumb popup_element rounded-corners wp-tab-active PamphletThumbSelected"
				id="u8793" role="tab" tabindex="0" aria-selected="true"
				aria-controls="u8798">
				<!-- simple frame -->
			</div>
		</div>
	</div>
</div>