<div class="clearfix colelem" id="pslideshowu2216">
	<!-- group -->
	<div
		class="SlideShowWidget clearfix HeroFillFrame grpelem wp-slideshow-playing"
		id="slideshowu2216">
		<!-- none box -->
		<div class="popup_anchor" id="u2229popup">
			<div class="wp-slideshow-clip"
				style="position: relative; width: 1349px; height: 1000px; overflow: hidden; left: 285.5px; top: 0px;">
				<div class="SlideShowContentPanel clearfix" id="u2229"
					style="width: 1349px; height: 1000px; position: relative; top: 0px; left: -2698px; margin: 0px; overflow: visible;">
					<!-- stack box -->
					<div class="SSSlide clip_frame grpelem wp-panel borderbox"
						id="u9232"
						style="top: 0px; left: 0px; margin: 0px; position: absolute; width: 100%;">
						<!-- image -->
						<img class="" id="u9232_img"
							data-src="images/homeslide.jpg?crc=447550241"
							src="images/homeslide.jpg?crc=447550241" alt="" data-width="1920"
							data-height="1200"
							style="width: 1600px; height: 1000px; margin-top: 0px; margin-left: -117px;">
					</div>
					<div class="SSSlide clip_frame grpelem wp-panel borderbox"
						id="u18544"
						style="top: 0px; left: 1349px; margin: 0px; position: absolute; width: 100%;">
						<!-- image -->
						<img class="" id="u18544_img"
							data-src="images/homeslide2.jpg?crc=27650419"
							src="images/homeslide2.jpg?crc=27650419" alt="" data-width="1920"
							data-height="1200"
							style="width: 1600px; height: 1000px; margin-top: 0px; margin-left: -117px;">
					</div>
					<div
						class="SSSlide clip_frame grpelem wp-panel borderbox wp-panel-active"
						id="u18619"
						style="top: 0px; left: 2698px; margin: 0px; position: absolute; width: 100%;">
						<!-- image -->
						<img class="" id="u18619_img"
							data-src="images/home2.jpg?crc=175456307"
							src="images/home2.jpg?crc=175456307" alt="" data-width="1959"
							data-height="1000"
							style="width: 1959px; height: 1000px; margin-top: 0px; margin-left: -297px;">
					</div>
				</div>
			</div>
		</div>
		<div class="popup_anchor" id="u2234popup">
			<div class="SlideShowCaptionPanel clearfix" id="u2234">
				<!-- stack box -->
				<div class="SSSlideCaption clearfix grpelem" id="u9272-4"
					style="display: none;">
					<!-- content -->
					<h2 id="u9272-2" class="shared_content"
						data-content-guid="u9272-2_content">Fun Learning Program For
						Your Child</h2>
				</div>
				<div class="SSSlideCaption clearfix grpelem" id="u18584-4"
					style="display: none;">
					<!-- content -->
					<h2 id="u18584-2" class="shared_content"
						data-content-guid="u18584-2_content">Special Program from
						Expert Teacher</h2>
				</div>
				<div class="SSSlideCaption clearfix grpelem" id="u18659-4"
					style="display: block;">
					<!-- content -->
					<h2 id="u18659-2" class="shared_content"
						data-content-guid="u18659-2_content">Best Kindergarten at
						California</h2>
				</div>
			</div>
		</div>
		<div class="popup_anchor" id="u2217-4popup">
			<div
				class="SSPreviousButton rounded-corners rgba-background clearfix"
				id="u2217-4" tabindex="0" role="button" aria-label="previous">
				<!-- content -->
				<p class="shared_content" data-content-guid="u2217-4_0_content">&lt;</p>
			</div>
		</div>
		<div class="popup_anchor" id="u2228-4popup">
			<div class="SSNextButton rounded-corners rgba-background clearfix"
				id="u2228-4" tabindex="0" role="button" aria-label="next">
				<!-- content -->
				<p class="shared_content" data-content-guid="u2228-4_0_content">&gt;</p>
			</div>
		</div>
	</div>
	<div class="slideInUp clearfix grpelem shared_content wow" id="u2237-4"
		data-content-guid="u2237-4_content"
		style="visibility: visible; animation-name: slideInUp;">
		<!-- content -->
		<h3 id="u2237-2">Welcome to Kids</h3>
	</div>
</div>