<div class="clearfix colelem shared_content" id="pu3657"
	data-content-guid="pu3657_content">
	<!-- group -->
	<div class="museBGSize rounded-corners grpelem shared_content"
		id="u3657" data-content-guid="u3657_content">
		<!-- simple frame -->
	</div>
	<div class="clearfix grpelem" id="pu3655-4">
		<!-- column -->
		<div class="slideInRight clearfix colelem shared_content wow"
			id="u3655-4" data-content-guid="u3655-4_content"
			style="visibility: visible; animation-name: slideInRight;">
			<!-- content -->
			<h2 id="u3655-2">Welcome to Kids</h2>
		</div>
		<div class="slideInRight clearfix colelem shared_content wow"
			id="u3656-7" data-content-guid="u3656-7_content"
			style="visibility: visible; animation-name: slideInRight;">
			<!-- content -->
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
				diam nonummy nibh euismod.&nbsp; Praesent interdum est gravida
				vehicula est node maecenas loareet morbi a dosis luctus novum est
				praesent. Magna est consectetur interdum modest dictum. Curabitur
				est faucibus, malesuada esttincidunt etos et mauris, nunc a libero
				govum est cuprum.</p>
			<p>&nbsp;</p>
			<p>Praesent interdum est gravida vehicula est node maecenas
				loareet morbi a dosis luctus novum est praesent. Magna est
				consectetur interdum modest dictum. Curabitur est faucibus.</p>
		</div>
		<a
			class="nonblock nontext Button slideInRight transition rounded-corners clearfix colelem shared_content wow"
			id="buttonu3658" href="about.html"
			data-content-guid="buttonu3658_content"
			style="visibility: visible; animation-name: slideInRight;">
			<!-- container box -->
			<div class="clearfix grpelem" id="u3659-4">
				<!-- content -->
				<p>DISCOVER MORE</p>
			</div>
		</a>
	</div>
</div>