<div class="wpb_text_column wpb_content_element ">
	<div class="wpb_wrapper">
		<p>
			<span
				class="white nicdark_dropcap nicdark_bg_yellow nicdark_radius nicdark_shadow">L</span>orem
			commodo lectus at sollicitudin elementum. Sed dolor turpis,
			condimentum sit amet maximus sit amet, rhoncus non turpis. Aenean
			convallis ac lorem et sodales. Sed dictum vel orci nec rhoncus. Donec
			quis porttitor arcu. Nulla ut justo quis augue commodo mattis nec vel
			ante.
		</p>
		<p>&nbsp;</p>
		<p>Lorem commodo lectus at sollicitudin elementum. Sed dolor
			turpis, condimentum sit amet maximus sit amet, rhoncus non turpis.
			Aenean convallis ac lorem et sodales. Sed dictum vel orci nec
			rhoncus. Donec quis porttitor arcu. Nulla ut justo quis augue commodo
			mattis nec vel ante.</p>
		<p>&nbsp;</p>
		<p>Lorem commodo lectus at sollicitudin elementum. Sed dolor
			turpis, condimentum sit amet maximus sit amet, rhoncus non turpis.
			Aenean convallis ac lorem et sodales. Sed dictum vel orci nec
			rhoncus. Donec quis porttitor arcu. Nulla ut justo quis augue commodo
			mattis nec vel ante.</p>

	</div>
</div>
<div class="vc_empty_space" style="height: 60px">
	<span class="vc_empty_space_inner"></span>
</div>

<h3 style="color: #868585;" class=" subtitle left">MORE
	INFORMATIONS</h3>
<div class="vc_empty_space" style="height: 20px">
	<span class="vc_empty_space_inner"></span>
</div>

<div class="nicdark_divider  left small ">
	<span style="background-color: #c389ce;" class="nicdark_radius"></span>
</div>
<div class="vc_empty_space" style="height: 30px">
	<span class="vc_empty_space_inner"></span>
</div>


<div class="wpb_tabs wpb_content_element" data-interval="0">
	<div
		class="wpb_wrapper wpb_tour_tabs_wrapper ui-tabs vc_clearfix ui-widget ui-widget-content ui-corner-all">
		<ul
			class="wpb_tabs_nav ui-tabs-nav vc_clearfix ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all"
			role="tablist">
			<li class="ui-state-default ui-corner-top" role="tab" tabindex="-1"
				aria-controls="tab-1421235294-1-42" aria-labelledby="ui-id-1"
				aria-selected="false" aria-expanded="false"><a
				class="title white nicdark_bg_orange  ui-tabs-anchor"
				href="#tab-1421235294-1-42" role="presentation" tabindex="-1"
				id="ui-id-1"><i class=""></i>DESCRIPTION</a></li>
			<li class="ui-state-default ui-corner-top" role="tab" tabindex="-1"
				aria-controls="tab-1421235294-2-82" aria-labelledby="ui-id-2"
				aria-selected="false" aria-expanded="false"><a
				class="title white nicdark_bg_green  ui-tabs-anchor"
				href="#tab-1421235294-2-82" role="presentation" tabindex="-1"
				id="ui-id-2"><i class=""></i>THE TOUR</a></li>
			<li class="ui-state-default ui-corner-top" role="tab" tabindex="-1"
				aria-controls="tab-1421235412573-2-4" aria-labelledby="ui-id-3"
				aria-selected="false" aria-expanded="false"><a
				class="title white nicdark_bg_blue  ui-tabs-anchor"
				href="#tab-1421235412573-2-4" role="presentation" tabindex="-1"
				id="ui-id-3"><i class=""></i>WHAT DO YOU NEED?</a></li>
			<li
				class="ui-state-default ui-corner-top ui-tabs-active ui-state-active"
				role="tab" tabindex="0" aria-controls="tab-1421235449744-3-1"
				aria-labelledby="ui-id-4" aria-selected="true" aria-expanded="true"><a
				class="title white nicdark_bg_yellow  ui-tabs-anchor"
				href="#tab-1421235449744-3-1" role="presentation" tabindex="-1"
				id="ui-id-4"><i class=""></i>INCLUDED</a></li>
		</ul>


		<div id="tab-1421235294-1-42"
			class="wpb_tab nicdark_radius_bottom nicdark_shadow nicdark_bg_grey ui-tabs-panel wpb_ui-tabs-hide vc_clearfix ui-widget-content ui-corner-bottom"
			aria-labelledby="ui-id-1" role="tabpanel" style="display: none;"
			aria-hidden="true">

			<div class="wpb_text_column wpb_content_element ">
				<div class="wpb_wrapper">
					<p>Lorem commodo lectus at sollicitudin elementum. Sed dolor
						turpis, condimentum sit amet maximus sit amet, rhoncus non turpis.
						Aenean convallis ac lorem et sodales. Sed dictum vel orci nec
						rhoncus. Donec quis porttitor arcu. Nulla ut justo quis augue
						commodo mattis nec vel ante.</p>
					<p>&nbsp;</p>
					<p>Lorem commodo lectus at sollicitudin elementum. Sed dolor
						turpis, condimentum sit amet maximus sit amet, rhoncus non turpis.
						Aenean convallis ac lorem et sodales. Sed dictum vel orci nec
						rhoncus. Donec quis porttitor arcu. Nulla ut justo quis augue
						commodo mattis nec vel ante.</p>
					<p>&nbsp;</p>
					<p>Lorem commodo lectus at sollicitudin elementum. Sed dolor
						turpis, condimentum sit amet maximus sit amet, rhoncus non turpis.
						Aenean convallis ac lorem et sodales. Sed dictum vel orci nec
						rhoncus. Donec quis porttitor arcu. Nulla ut justo quis augue
						commodo mattis nec vel ante.</p>

				</div>
			</div>
		</div>
		<div id="tab-1421235294-2-82"
			class="wpb_tab nicdark_radius_bottom nicdark_shadow nicdark_bg_grey ui-tabs-panel wpb_ui-tabs-hide vc_clearfix ui-widget-content ui-corner-bottom"
			aria-labelledby="ui-id-2" role="tabpanel" style="display: none;"
			aria-hidden="true">

			<div class="wpb_text_column wpb_content_element ">
				<div class="wpb_wrapper">
					<p>Lorem commodo lectus at sollicitudin elementum. Sed dolor
						turpis, condimentum sit amet maximus sit amet, rhoncus non turpis.
						Aenean convallis ac lorem et sodales. Sed dictum vel orci nec
						rhoncus. Donec quis porttitor arcu. Nulla ut justo quis augue
						commodo mattis nec vel ante.</p>
					<p>Lorem commodo lectus at sollicitudin elementum. Sed dolor
						turpis, condimentum sit amet maximus sit amet, rhoncus non turpis.
						Aenean convallis ac lorem et sodales. Sed dictum vel orci nec
						rhoncus. Donec quis porttitor arcu. Nulla ut justo quis augue
						commodo mattis nec vel ante.</p>
					<p>Lorem commodo lectus at sollicitudin elementum. Sed dolor
						turpis, condimentum sit amet maximus sit amet, rhoncus non turpis.
						Aenean convallis ac lorem et sodales. Sed dictum vel orci nec
						rhoncus. Donec quis porttitor arcu. Nulla ut justo quis augue
						commodo mattis nec vel ante.</p>

				</div>
			</div>
		</div>
		<div id="tab-1421235412573-2-4"
			class="wpb_tab nicdark_radius_bottom nicdark_shadow nicdark_bg_grey ui-tabs-panel wpb_ui-tabs-hide vc_clearfix ui-widget-content ui-corner-bottom"
			aria-labelledby="ui-id-3" role="tabpanel" style="display: none;"
			aria-hidden="true">

			<div class="wpb_text_column wpb_content_element ">
				<div class="wpb_wrapper">
					<p>Lorem commodo lectus at sollicitudin elementum. Sed dolor
						turpis, condimentum sit amet maximus sit amet, rhoncus non turpis.
						Aenean convallis ac lorem et sodales. Sed dictum vel orci nec
						rhoncus. Donec quis porttitor arcu. Nulla ut justo quis augue
						commodo mattis nec vel ante.</p>
					<p>Lorem commodo lectus at sollicitudin elementum. Sed dolor
						turpis, condimentum sit amet maximus sit amet, rhoncus non turpis.
						Aenean convallis ac lorem et sodales. Sed dictum vel orci nec
						rhoncus. Donec quis porttitor arcu. Nulla ut justo quis augue
						commodo mattis nec vel ante.</p>
					<p>Lorem commodo lectus at sollicitudin elementum. Sed dolor
						turpis, condimentum sit amet maximus sit amet, rhoncus non turpis.
						Aenean convallis ac lorem et sodales. Sed dictum vel orci nec
						rhoncus. Donec quis porttitor arcu. Nulla ut justo quis augue
						commodo mattis nec vel ante.</p>

				</div>
			</div>
		</div>
		<div id="tab-1421235449744-3-1"
			class="wpb_tab nicdark_radius_bottom nicdark_shadow nicdark_bg_grey ui-tabs-panel wpb_ui-tabs-hide vc_clearfix ui-widget-content ui-corner-bottom"
			aria-labelledby="ui-id-4" role="tabpanel" style="display: block;"
			aria-hidden="false">

			<div class="wpb_text_column wpb_content_element ">
				<div class="wpb_wrapper">
					<p>Lorem commodo lectus at sollicitudin elementum. Sed dolor
						turpis, condimentum sit amet maximus sit amet, rhoncus non turpis.
						Aenean convallis ac lorem et sodales. Sed dictum vel orci nec
						rhoncus. Donec quis porttitor arcu. Nulla ut justo quis augue
						commodo mattis nec vel ante.</p>
					<p>Lorem commodo lectus at sollicitudin elementum. Sed dolor
						turpis, condimentum sit amet maximus sit amet, rhoncus non turpis.
						Aenean convallis ac lorem et sodales. Sed dictum vel orci nec
						rhoncus. Donec quis porttitor arcu. Nulla ut justo quis augue
						commodo mattis nec vel ante.</p>
					<p>Lorem commodo lectus at sollicitudin elementum. Sed dolor
						turpis, condimentum sit amet maximus sit amet, rhoncus non turpis.
						Aenean convallis ac lorem et sodales. Sed dictum vel orci nec
						rhoncus. Donec quis porttitor arcu. Nulla ut justo quis augue
						commodo mattis nec vel ante.</p>

				</div>
			</div>
		</div>
	</div>
</div>
<div class="vc_empty_space" style="height: 60px">
	<span class="vc_empty_space_inner"></span>
</div>

<h3 style="color: #868585;" class=" subtitle left">WHERE</h3>
<div class="vc_empty_space" style="height: 20px">
	<span class="vc_empty_space_inner"></span>
</div>

<div class="nicdark_divider  left small ">
	<span style="background-color: #74cee4;" class="nicdark_radius"></span>
</div>
<div class="vc_empty_space" style="height: 30px">
	<span class="vc_empty_space_inner"></span>
</div>
