{* http://rometheme.net/muse/kids/index.html *}

<!DOCTYPE html>
<html class="nojs html" lang="en-US">
<head>
<meta charset="UTF-8">
<title>Insert title here</title> {assets type='css'} {assets type='js'}
</head>
<body class="initialized" data-whatinput="mouse">
	<div class="breakpoint active" id="bp_infinity" data-min-width="1201">
		<!-- responsive breakpoint node -->
		<div class="clearfix" id="page">
			<!-- column -->
			<div class="position_content" id="page_position_content">
				{include file="../modules/menu-top.html"}
				{$_body}


				{include file="../modules/footer.html"}
			</div>
		</div>
	</div>
</body>