@import "variables";
.color-hira {
	color: $bg_green;
	font-weight: bold;
}
.color-kata {
	color: $bg_violet;
	font-weight: bold;
}
.color-kanji {
	color: $bg_red;
	font-weight: bold;
}
.japan.grammar {
	
	text-align: center;
	margin: 10px auto;
	line-height: 50px;
	position: relative;
	font-size: 40px;
	&:after {
		/*content : '.';*/
	}
	span.object {
		border: 1px solid $bg_blue;
		margin: auto 10px;
		display: inline-block;
		padding: 5px 20px;
		
	}
	span.hiragana, span.hira, span.kata, span.kanji {
		position: relative;
		margin: auto 5px;
	}
	span.hiragana, span.hira {
		border-bottom: 6px solid $bg_green;
	}

	span.kata {
		border-bottom: 6px solid $bg_violet;
	}

	span.kanji {
		border-bottom: 6px solid $bg_red;
	}
	/*
	span.hiragana:after {
		content: 'hiragana';
		position: absolute;
		
		left: 0;
		bottom: 0;
		font-size: 12px;
	}
	*/
}
