<p class="text-left">
	Bảng chữ cái hiragana cơ bản bao gồm 47 chữ cái được chia thành 5 hàng: a,i,u,e,o. Bảng này bắt buộc các bạn phải thuộc làu vì nếu không thuộc Kanji bạn vẫn có thể giao tiếp bằng tiếng Nhật bình thường. Còn không nhớ bảng chữ cái hiragana 100% bạn sẽ không thể học tiếng Nhật. Chú ý là không chỉ nhớ và thuộc cách viết, bạn còn phải học phát âm chuẩn từng chữ cái một vì phát âm từng từ tiếng Nhật chính là phát âm từng chữ cái hợp thành từ ấy.
</p>
<div class="row" >
		{char_col c='a'}
		{char_col c='i' boxcolor='blue'}
		{char_col c='u' boxcolor='red'}
		{char_col c='e' boxcolor='orange'}
		{char_col c='o' boxcolor='violet'}

	</div>
	<div class="row">
		{char_col c='ka'}
		{char_col c='ki' boxcolor='blue'}
		{char_col c='ku' boxcolor='red'}
		{char_col c='ke' boxcolor='orange'}
		{char_col c='ko' boxcolor='violet'}
	</div>

	<div class="row">
		{char_col c='sa'}
		{char_col c='si' boxcolor='blue' c_view="shi"}
		{char_col c='su' boxcolor='red'}
		{char_col c='se' boxcolor='orange'}
		{char_col c='so' boxcolor='violet'}
	</div>

	<div class="row">
		{char_col c='ta'}
		{char_col c='ti' boxcolor='blue' c_view="chi"}
		{char_col c='tu' boxcolor='red' c_view="tsu"}
		{char_col c='te' boxcolor='orange'}
		{char_col c='to' boxcolor='violet'}
	</div>

	<div class="row">
		{char_col c='na'}
		{char_col c='ni' boxcolor='blue'}
		{char_col c='nu' boxcolor='red'}
		{char_col c='ne' boxcolor='orange'}
		{char_col c='no' boxcolor='violet'}
	</div>

	<div class="row">
		{char_col c='ha'}
		{char_col c='hi' boxcolor='blue'}
		{char_col c='hu' boxcolor='red' c_view="fu"}
		{char_col c='he' boxcolor='orange'}
		{char_col c='ho' boxcolor='violet'}
	</div>

	<div class="row">
		{char_col c='ma'}
		{char_col c='mi' boxcolor='blue'}
		{char_col c='mu' boxcolor='red'}
		{char_col c='me' boxcolor='orange'}
		{char_col c='mo' boxcolor='violet'}
	</div>

	<div class="row">
		{char_col c='ya'}
		<div class="col"></div>
		{char_col c='yu' boxcolor='red'}
		<div class="col"></div>
		{char_col c='yo' boxcolor='violet'}
	</div>

	<div class="row">
		{char_col c='ra'}
		{char_col c='ri' boxcolor='blue'}
		{char_col c='ru' boxcolor='red'}
		{char_col c='re' boxcolor='orange'}
		{char_col c='ro' boxcolor='violet'}
	</div>

	<div class="row">
		{char_col c='wa'}
		<div class="col"></div>
		<div class="col"></div>
		<div class="col"></div>
		{char_col c='wo' boxcolor='blue'}
	</div>
	<div class="row">
		<div class="col"></div>
		{char_col c='n'}
	</div>
