<h1 class="subtitle left">{lang txt="Grammar"}</h1>
<h3 class="subtitle left">{$row->title}</h3>

<div class="nicdark_divider  left big ">
	<span style="background-color: #74cee4;" class="nicdark_radius"></span>
</div>

<section class="nicdark_section  vc_row wpb_row vc_inner vc_row-fluid">
	<div
		class="vc_col-sm-12 nicdark_bg_grey nicdark_radius nicdark_shadow wpb_column vc_column_container vc_custom_1421233115518">
		<div class="wpb_wrapper">
			<div class=" nicdark_archive1 nicdark_relative">

				<a target="" href=""
					class="nicdark_btn_icon nicdark_bg_blue extrabig nicdark_radius_circle white nicdark_absolute nicdark_shadow"><i
					class="icon-location-outline"></i></a>

				<div class="nicdark_activity nicdark_marginleft100">
					<h4>{lang txt="Cu Phap"}</h4>
					<div class="nicdark_space20"></div>
					<p>{$row->grammar}</p>
					<div class="nicdark_space20"></div>

					<div class="nicdark_space5"></div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="nicdark_section  vc_row wpb_row vc_inner vc_row-fluid">
	<div
		class="vc_col-sm-12 nicdark_bg_grey nicdark_radius nicdark_shadow wpb_column vc_column_container vc_custom_1421233115518">
		<div class="wpb_wrapper">
			<div class=" nicdark_archive1 nicdark_relative">

				<a target="" href=""
					class="nicdark_btn_icon nicdark_bg_blue extrabig nicdark_radius_circle white nicdark_absolute nicdark_shadow"><i
					class="icon-location-outline"></i></a>

				<div class="nicdark_activity nicdark_marginleft100">
					<h4>{lang txt="Description"}</h4>
					<div class="nicdark_space20"></div>
					<p>{$row->description}</p>
					<div class="nicdark_space20"></div>

					<div class="nicdark_space5"></div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="nicdark_section  vc_row wpb_row vc_inner vc_row-fluid">
	<div
		class="vc_col-sm-12 nicdark_bg_grey nicdark_radius nicdark_shadow wpb_column vc_column_container vc_custom_1421233115518">
		<div class="wpb_wrapper">
			<div class=" nicdark_archive1 nicdark_relative">

				<a target="" href=""
					class="nicdark_btn_icon nicdark_bg_blue extrabig nicdark_radius_circle white nicdark_absolute nicdark_shadow"><i
					class="icon-location-outline"></i></a>

				<div class="nicdark_activity nicdark_marginleft100">
					<h4>{lang txt="Example"}</h4>
					<div class="nicdark_space20"></div>
					<p>{$row->example}</p>
					<div class="nicdark_space20"></div>

					<div class="nicdark_space5"></div>
				</div>
			</div>
		</div>
	</div>
</section>