<section
	style="background: transparent url('{theme_url}img-teachers-1-1024x637.jpg') repeat fixed 50% 64px/cover;"
	id="count-paral"
	class="nicdark_section  nicdark_imgparallax  vc_row wpb_row vc_row-fluid vc_custom_1422890658232">
	<div class="nicdark_filter yellow">
		<div class="nicdark_container nicdark_vc nicdark_clearfix">
			<div class="vc_col-sm-12 wpb_column vc_column_container">
				<div class="wpb_wrapper">
					<section id="home_countdown_inner"
						class="nicdark_section  vc_row wpb_row vc_inner vc_row-fluid vc_custom_1422786434911">
						<div class="vc_col-sm-12 wpb_column vc_column_container">
							<div class="wpb_wrapper">
								<h1 style="color: #ffffff;" class=" subtitle center">FIRST
									DAY AT SCHOOL !</h1>
								<div class="vc_empty_space" style="height: 20px">
									<span class="vc_empty_space_inner"></span>
								</div>

								<h3 style="color: #ffffff;" class=" subtitle center">ARE
									YOU READY ?</h3>
								<div class="vc_empty_space" style="height: 20px">
									<span class="vc_empty_space_inner"></span>
								</div>

								<div class="nicdark_divider  center big ">
									<span style="background-color: #ffffff;" class="nicdark_radius"></span>
								</div>
								<div class="vc_empty_space" style="height: 40px">
									<span class="vc_empty_space_inner"></span>
								</div>

								<div class="nicdark_countdown">
									<div class="grid grid_3 percentage   ">
										<div class="nicdark_textevidence center">
											<h1 style="color: #ffffff" class="subtitle white extrasize">088</h1>
											<div class="nicdark_space20"></div>
											<a
												class="nicdark_btn nicdark_bg_blue small nicdark_shadow nicdark_radius white">DAYS</a>
											<div class="nicdark_space5"></div>
										</div>
									</div>
									<div class="grid grid_3 percentage   ">
										<div class="nicdark_textevidence center">
											<h1 style="color: #ffffff" class="subtitle white extrasize">20</h1>
											<div class="nicdark_space20"></div>
											<a
												class="nicdark_btn nicdark_bg_yellow small nicdark_shadow nicdark_radius white">HOURS</a>
											<div class="nicdark_space5"></div>
										</div>
									</div>
									<div class="grid grid_3 percentage   ">
										<div class="nicdark_textevidence center">
											<h1 style="color: #ffffff" class="subtitle white extrasize">34</h1>
											<div class="nicdark_space20"></div>
											<a
												class="nicdark_btn nicdark_bg_green small nicdark_shadow nicdark_radius white">MINUTES</a>
											<div class="nicdark_space5"></div>
										</div>
									</div>
									<div class="grid grid_3 percentage   ">
										<div class="nicdark_textevidence center">
											<h1 style="color: #ffffff" class="subtitle white extrasize">52</h1>
											<div class="nicdark_space20"></div>
											<a
												class="nicdark_btn nicdark_bg_violet small nicdark_shadow nicdark_radius white">SECONDS</a>
											<div class="nicdark_space5"></div>
										</div>
									</div>
								</div>

								<script type="text/javascript">
									(function($) {
										"use strict";

										//variables
										var endDate = "June 06, 2017";
										var grid = "grid_3 percentage";
										//insert the class nicdark_displaynone in the var if you wnat to hide the visualization
										var display_years = "nicdark_displaynone";
										var display_days = "";
										var display_hours = "";
										var display_minutes = "";
										var display_seconds = "";
										//call
										$(".nicdark_countdown")
												.countdown(
														{
															date : endDate,
															render : function(
																	data) {
																$(this.el)
																		.html(
																				"<div class=\"grid "+ grid +" "+ display_days +"  \"><div class=\"nicdark_textevidence center\"><h1 style=\"color:#ffffff\" class=\"subtitle white extrasize\">"
																						+ this
																								.leadingZeros(
																										data.days,
																										3)
																						+ "</h1><div class=\"nicdark_space20\"></div><a class=\"nicdark_btn nicdark_bg_blue small nicdark_shadow nicdark_radius white\">DAYS</a><div class=\"nicdark_space5\"></div></div></div><div class=\"grid "+ grid +" "+ display_hours +"  \"><div class=\"nicdark_textevidence center\"><h1 style=\"color:#ffffff\" class=\"subtitle white extrasize\">"
																						+ this
																								.leadingZeros(
																										data.hours,
																										2)
																						+ "</h1><div class=\"nicdark_space20\"></div><a class=\"nicdark_btn nicdark_bg_yellow small nicdark_shadow nicdark_radius white\">HOURS</a><div class=\"nicdark_space5\"></div></div></div><div class=\"grid "+ grid +" "+ display_minutes +"  \"><div class=\"nicdark_textevidence center\"><h1 style=\"color:#ffffff\" class=\"subtitle white extrasize\">"
																						+ this
																								.leadingZeros(
																										data.min,
																										2)
																						+ "</h1><div class=\"nicdark_space20\"></div><a class=\"nicdark_btn nicdark_bg_green small nicdark_shadow nicdark_radius white\">MINUTES</a><div class=\"nicdark_space5\"></div></div></div><div class=\"grid "+ grid +" "+ display_seconds +"  \"><div class=\"nicdark_textevidence center\"><h1 style=\"color:#ffffff\" class=\"subtitle white extrasize\">"
																						+ this
																								.leadingZeros(
																										data.sec,
																										2)
																						+ "</h1><div class=\"nicdark_space20\"></div><a class=\"nicdark_btn nicdark_bg_violet small nicdark_shadow nicdark_radius white\">SECONDS</a><div class=\"nicdark_space5\"></div></div></div>");
															}
														});

									})(jQuery);
								</script>


							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
</section>