
<section id="home_revslider"
	class="nicdark_section  vc_row wpb_row vc_row-fluid vc_custom_1438958588275">
	<div
		class="vc_col-sm-12 wpb_column vc_column_container vc_custom_1422369372034">
		<div class="wpb_wrapper">
			<div class="wpb_revslider_element wpb_content_element">
				<div id="rev_slider_6_1_wrapper"
					class="rev_slider_wrapper fullwidthbanner-container"
					style="margin: 0px auto; padding: 0px; margin-top: 0px; margin-bottom: 0px; max-height: 650px;">
					<!-- START REVOLUTION SLIDER 4.6.5 fullwidth mode -->
					<div id="rev_slider_6_1" class="rev_slider fullwidthabanner"
						style="display: none; max-height: 650px; height: 650px;">
						<ul>
							<!-- SLIDE  -->
							<li data-transition="fade" data-slotamount="7"
								data-masterspeed="300"
								data-thumb="{theme_url}slidebg-kids-1-320x200.jpg"
								data-saveperformance="off" data-title="Friends">
								<!-- MAIN IMAGE --> <img
								src="{theme_url}slidebg-kids-1.jpg"
								alt="bg-kids-1" data-bgposition="center bottom"
								data-bgfit="cover" data-bgrepeat="no-repeat"> <!-- LAYERS -->

								<!-- LAYER NR. 1 -->
								<div class="tp-caption lfr rs-parallaxlevel-1" data-x="right"
									data-hoffset="-40" data-y="center" data-voffset="-15"
									data-speed="2000" data-start="500"
									data-easing="Power3.easeInOut" data-elementdelay="0.1"
									data-endelementdelay="0.1" data-endspeed="300"
									style="z-index: 5;">
									<img
										src="{theme_url}slidebaby-girl.png"
										alt="" data-ww="500" data-hh="702">
								</div> <!-- LAYER NR. 2 -->
								<div
									class="tp-caption nicdarktypographybigwhite sft tp-resizeme rs-parallaxlevel-3"
									data-x="40" data-y="center" data-voffset="-90"
									data-speed="1000" data-start="2000"
									data-easing="Power3.easeInOut" data-splitin="none"
									data-splitout="none" data-elementdelay="0.1"
									data-endelementdelay="0.1" data-endspeed="300"
									style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">SCHOOL
								</div> <!-- LAYER NR. 3 -->
								<div
									class="tp-caption nicdarktypography15px sfl tp-resizeme rs-parallaxlevel-1"
									data-x="220" data-y="center" data-voffset="-55"
									data-speed="1100" data-start="2500"
									data-easing="Power3.easeInOut" data-splitin="none"
									data-splitout="none" data-elementdelay="0.1"
									data-endelementdelay="0.1" data-endspeed="300"
									style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">PRIMARY
								</div> <!-- LAYER NR. 4 -->
								<div
									class="tp-caption nicdarktypography25vibes sfr tp-resizeme rs-parallaxlevel-1"
									data-x="297" data-y="center" data-voffset="-55"
									data-speed="1200" data-start="2500"
									data-easing="Power3.easeInOut" data-splitin="none"
									data-splitout="none" data-elementdelay="0.1"
									data-endelementdelay="0.1" data-endspeed="300"
									style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;">edu
								</div> <!-- LAYER NR. 5 -->
								<div
									class="tp-caption nicdarktypographybigwhitebold sfr tp-resizeme rs-parallaxlevel-3"
									data-x="120" data-y="center" data-voffset="0" data-speed="1000"
									data-start="2800" data-easing="Power3.easeInOut"
									data-splitin="none" data-splitout="none"
									data-elementdelay="0.1" data-endelementdelay="0.1"
									data-endspeed="300"
									style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">EDUCATIONAL
								</div> <!-- LAYER NR. 6 -->
								<div
									class="tp-caption nicdarktypography17vibes sft tp-resizeme rs-parallaxlevel-1"
									data-x="229" data-y="357" data-speed="1100" data-start="2800"
									data-easing="Power3.easeInOut" data-splitin="none"
									data-splitout="none" data-elementdelay="0.1"
									data-endelementdelay="0.1" data-endspeed="300"
									style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;">for
								</div> <!-- LAYER NR. 7 -->
								<div
									class="tp-caption nicdarktypography25px sfb tp-resizeme rs-parallaxlevel-1"
									data-x="248" data-y="357" data-speed="1200" data-start="2800"
									data-easing="Power3.easeInOut" data-splitin="none"
									data-splitout="none" data-elementdelay="0.1"
									data-endelementdelay="0.1" data-endspeed="300"
									style="z-index: 11; max-width: auto; max-height: auto; white-space: nowrap;">ANY
								</div> <!-- LAYER NR. 8 -->
								<div class="tp-caption sft tp-resizeme rs-parallaxlevel-1"
									data-x="301" data-y="365" data-speed="1300" data-start="2800"
									data-easing="Power3.easeInOut" data-splitin="none"
									data-splitout="none" data-elementdelay="0.1"
									data-endelementdelay="0.1" data-endspeed="300"
									style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;">
									<div class="tp-layer-inner-rotation nicdarktypography8px "
										style="-moz-transform: rotate(90deg); -ms-transform: rotate(90deg); -o-transform: rotate(90deg); -webkit-transform: rotate(90deg); transform: rotate(90deg); -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%;">
										KIND</div>
								</div> <!-- LAYER NR. 9 -->
								<div
									class="tp-caption nicdarktypography25px sfb tp-resizeme rs-parallaxlevel-1"
									data-x="319" data-y="357" data-speed="1400" data-start="2800"
									data-easing="Power3.easeInOut" data-splitin="none"
									data-splitout="none" data-elementdelay="0.1"
									data-endelementdelay="0.1" data-endspeed="300"
									style="z-index: 13; max-width: auto; max-height: auto; white-space: nowrap;">OF
									TEACHING</div> <!-- LAYER NR. 10 -->
								<div
									class="tp-caption nicdarktypographybigwhiteboldcommercial tp-fade tp-resizeme rs-parallaxlevel-5"
									data-x="300" data-y="center" data-voffset="104"
									data-speed="1000" data-start="3300"
									data-easing="Power3.easeInOut" data-splitin="lines"
									data-splitout="none" data-elementdelay="0.1"
									data-endelementdelay="0.1" data-endspeed="300"
									style="z-index: 14; max-width: auto; max-height: auto; white-space: nowrap;">&
								</div> <!-- LAYER NR. 11 -->
								<div
									class="tp-caption nicdarktypographysharp tp-fade tp-resizeme rs-parallaxlevel-2"
									data-x="140" data-y="400" data-speed="300" data-start="3100"
									data-easing="Power3.easeInOut" data-splitin="none"
									data-splitout="none" data-elementdelay="0.1"
									data-endelementdelay="0.1" data-endspeed="300"
									style="z-index: 15; max-width: auto; max-height: auto; white-space: nowrap;">#
								</div> <!-- LAYER NR. 12 -->
								<div
									class="tp-caption nicdarktypography27pxbold tp-fade tp-resizeme rs-parallaxlevel-2"
									data-x="160" data-y="399" data-speed="300" data-start="3200"
									data-easing="Power3.easeInOut" data-splitin="none"
									data-splitout="none" data-elementdelay="0.1"
									data-endelementdelay="0.1" data-endspeed="300"
									style="z-index: 16; max-width: auto; max-height: auto; white-space: nowrap;">COURSES
								</div> <!-- LAYER NR. 13 -->
								<div
									class="tp-caption nicdarktypographysharp tp-fade tp-resizeme rs-parallaxlevel-2"
									data-x="370" data-y="435" data-speed="300" data-start="3400"
									data-easing="Power3.easeInOut" data-splitin="none"
									data-splitout="none" data-elementdelay="0.1"
									data-endelementdelay="0.1" data-endspeed="300"
									style="z-index: 17; max-width: auto; max-height: auto; white-space: nowrap;">#
								</div> <!-- LAYER NR. 14 -->
								<div
									class="tp-caption nicdarktypography27pxbold tp-fade tp-resizeme rs-parallaxlevel-2"
									data-x="390" data-y="434" data-speed="300" data-start="3500"
									data-easing="Power3.easeInOut" data-splitin="none"
									data-splitout="none" data-elementdelay="0.1"
									data-endelementdelay="0.1" data-endspeed="300"
									style="z-index: 18; max-width: auto; max-height: auto; white-space: nowrap;">EVENTS
								</div> <!-- LAYER NR. 15 -->
								<div class="tp-caption tp-fade tp-resizeme rs-parallaxlevel-4"
									data-x="454" data-y="480" data-speed="1000" data-start="3300"
									data-easing="Power3.easeInOut" data-splitin="chars"
									data-splitout="none" data-elementdelay="0.2"
									data-endelementdelay="0.1" data-endspeed="300"
									style="z-index: 19; max-width: auto; max-height: auto; white-space: nowrap;">
									<div class="tp-layer-inner-rotation nicdarktypography28vibes "
										style="-moz-transform: rotate(-10deg); -ms-transform: rotate(-10deg); -o-transform: rotate(-10deg); -webkit-transform: rotate(-10deg); transform: rotate(-10deg); -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%;">
										by Nicdark</div>
								</div>
							</li>
							<!-- SLIDE  -->
							<li data-transition="fade" data-slotamount="7"
								data-masterspeed="300"
								data-thumb="{theme_url}slide//slide3-320x200.jpg"
								data-saveperformance="off" data-title="Slide">
								<!-- MAIN IMAGE --> <img
								src="{theme_url}slide/slide3.jpg"
								alt="slide3" data-bgposition="center top" data-kenburns="on"
								data-duration="5000" data-ease="Linear.easeNone"
								data-bgfit="100" data-bgfitend="110"
								data-bgpositionend="center top"> <!-- LAYERS -->
							</li>
						</ul>
						<div class="tp-bannertimer tp-bottom"
							style="visibility: hidden !important;"></div>
					</div>


					<style scoped>
.tp-caption.nicdarktypographybigwhite,.nicdarktypographybigwhite {
	font-size: 65px;
	line-height: 65px;
	font-family: Montserrat;
	color: #f9f9f9;
	text-decoration: none;
	text-shadow: none;
	background-color: transparent;
	border-width: 0px;
	border-color: rgb(0, 0, 0);
	border-style: none
}

.tp-caption.nicdarktypography15px,.nicdarktypography15px {
	font-size: 15px;
	line-height: 15px;
	font-family: Montserrat;
	color: #f9f9f9;
	text-decoration: none;
	text-shadow: none;
	background-color: transparent;
	border-width: 0px;
	border-color: rgb(0, 0, 0);
	border-style: none
}

.tp-caption.nicdarktypography25vibes,.nicdarktypography25vibes {
	font-size: 25px;
	line-height: 25px;
	font-family: "Great Vibes";
	color: #f9f9f9;
	text-decoration: none;
	text-shadow: none;
	background-color: transparent;
	border-width: 0px;
	border-color: rgb(0, 0, 0);
	border-style: none
}

.tp-caption.nicdarktypographybigwhitebold,.nicdarktypographybigwhitebold
	{
	font-size: 65px;
	line-height: 65px;
	font-weight: 700;
	font-family: Montserrat;
	color: #f9f9f9;
	text-decoration: none;
	text-shadow: none;
	background-color: transparent;
	border-width: 0px;
	border-color: rgb(0, 0, 0);
	border-style: none
}

.tp-caption.nicdarktypography17vibes,.nicdarktypography17vibes {
	font-size: 17px;
	line-height: 17px;
	font-family: "Great Vibes";
	color: #f9f9f9;
	text-decoration: none;
	text-shadow: none;
	background-color: transparent;
	border-width: 0px;
	border-color: rgb(0, 0, 0);
	border-style: none
}

.tp-caption.nicdarktypography25px,.nicdarktypography25px {
	font-size: 25px;
	line-height: 25px;
	font-family: Montserrat;
	color: #f9f9f9;
	text-decoration: none;
	text-shadow: none;
	background-color: transparent;
	border-width: 0px;
	border-color: rgb(0, 0, 0);
	border-style: none
}

.tp-caption.nicdarktypography8px,.nicdarktypography8px {
	font-size: 8px;
	line-height: 8px;
	font-family: Montserrat;
	color: #f9f9f9;
	text-decoration: none;
	text-shadow: none;
	background-color: transparent;
	border-width: 0px;
	border-color: rgb(0, 0, 0);
	border-style: none
}

.tp-caption.nicdarktypographybigwhiteboldcommercial,.nicdarktypographybigwhiteboldcommercial
	{
	font-size: 80px;
	line-height: 80px;
	font-weight: 700;
	font-family: "Times New Roman", Times, serif;
	color: #495052;
	text-decoration: none;
	text-shadow: none;
	background-color: transparent;
	border-width: 0px;
	border-color: rgb(0, 0, 0);
	border-style: none
}

.tp-caption.nicdarktypographysharp,.nicdarktypographysharp {
	font-size: 25px;
	line-height: 25px;
	font-family: Raleway;
	color: #f9f9f9;
	text-decoration: none;
	text-shadow: none;
	background-color: transparent;
	border-width: 0px;
	border-color: rgb(0, 0, 0);
	border-style: none
}

.tp-caption.nicdarktypography27pxbold,.nicdarktypography27pxbold {
	font-size: 27px;
	line-height: 27px;
	font-weight: 600;
	font-family: Montserrat;
	color: #f9f9f9;
	text-decoration: none;
	text-shadow: none;
	background-color: transparent;
	border-width: 0px;
	border-color: rgb(0, 0, 0);
	border-style: none
}

.tp-caption.nicdarktypography28vibes,.nicdarktypography28vibes {
	font-size: 28px;
	line-height: 32px;
	font-family: "Great Vibes";
	color: #f9f9f9;
	text-decoration: none;
	text-shadow: none;
	background-color: transparent;
	letter-spacing: 2px;
	border-width: 0px;
	border-color: rgb(0, 0, 0);
	border-style: none
}
</style>



				</div>
				<!-- END REVOLUTION SLIDER -->
			</div>

		</div>
	</div>
</section>