#u1596-2 {
	padding-top: 5px;
}

#u1550-2 {
	padding-top: 7px;
}

#u1596-4,#u1602-4 {
	color: #FFFFFF;
	text-align: left;
	line-height: 29px;
	background-color: transparent;
	font-weight: 400;
	font-size: 24px;
	font-family: '__FontAwesome_5';
}

#u1602-2 {
	padding-top: 5px;
}

#u1550-4,#u1601-4 {
	background-color: transparent;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	color: #FFFFFF;
	text-align: left;
	border-color: #333333;
	font-family: pt-sans, sans-serif;
}

#u1601-2 {
	padding-top: 7px;
}

#u1597-4 {
	color: #FFFFFF;
	text-align: center;
	line-height: 22px;
	background-color: #FD4D40;
	font-weight: 400;
	font-size: 18px;
	font-family: '__FontAwesome_5';
}

#u1597-2 {
	padding-top: 9px;
}

#u1598-4 {
	color: #FFFFFF;
	text-align: center;
	line-height: 22px;
	background-color: #16C3B0;
	font-weight: 400;
	font-size: 18px;
	font-family: '__FontAwesome_5';
}

#u1597-4:hover,#u1598-4:hover {
	background-color: #2DB3D9;
}

#u1598-2 {
	padding-top: 9px;
}

#u1599-4 {
	color: #FFFFFF;
	text-align: center;
	line-height: 22px;
	background-color: #FF7300;
	font-weight: 400;
	font-size: 18px;
	font-family: '__FontAwesome_5';
}

#u1599-2 {
	padding-top: 9px;
}

#u1600-4 {
	color: #FFFFFF;
	text-align: center;
	line-height: 22px;
	background-color: #2DB3D9;
	font-weight: 400;
	font-size: 18px;
	font-family: '__FontAwesome_5';
}

#u1600-2 {
	padding-top: 9px;
}

#u1551 {
	box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.12);
	background-color: #FFFFFF;
	border-color: #FD4D40;
}

#u1595-3 {
	color: #FF7300;
	font-size: 36px;
	font-weight: 400;
	text-align: left;
	filter: alpha(opacity = 100);
	font-family: pacifico, sans-serif;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	line-height: 43px;
	border-color: transparent;
	border-width: 0px;
	/*
	background: transparent url("../images/logo.png?crc=3788995009")
		no-repeat left top;
	*/
	background-size: cover;
}

#u1595 {
	padding-top: 20px;
}

.MenuItem {
	cursor: pointer;
}

#u1942 {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	border-color: #FD4D40;
	filter: alpha(opacity = 100);
	background: #043140 url("../images/bg.jpg?crc=227135420") no-repeat
		center center;
	background-size: cover;
}

#u1944-3 {
	color: #FF7300;
	font-size: 36px;
	text-align: left;
	filter: alpha(opacity = 100);
	font-family: pacifico, sans-serif;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	line-height: 43px;
	border-radius: 0px;
	font-weight: 400;
	background: transparent url("../images/logo.png?crc=3788995009")
		no-repeat left center;
	background-size: contain;
}

.slideInUp {
	background-color: transparent;
	border-color: #000000;
	border-width: 0px;
}

#u1944 {
	padding-top: 20px;
}

#u1963-4,#u1964-4,#u1965-4,#u1970-4,#u1969-4,#u1968-4,#u1967-4,#u1966-4
	{
	font-size: 18px;
	text-align: left;
	line-height: 22px;
	color: #F1C22E;
	font-weight: 400;
	font-family: '__FontAwesome_5';
}

#u1946-8,#u1947-4,#u1948-4,#u1954-4,#u1955-4,#u1956-4,#u1957-4,#u1958-4
	{
	font-size: 16px;
	text-align: left;
	line-height: 22px;
	color: #FFFFFF;
	font-weight: 400;
	font-family: pt-sans, sans-serif;
}

#u1954-4:hover p,#u1954-4:hover h5,#u1955-4:hover p,#u1955-4:hover h5,#u1956-4:hover p,#u1956-4:hover h5,#u1957-4:hover p,#u1957-4:hover h5,#u1958-4:hover p,#u1958-4:hover h5
	{
	color: #F1C22E;
	visibility: inherit;
}

#u1945-4,#u1953-4,#u1951-4 {
	font-size: 24px;
	text-align: left;
	line-height: 34px;
	color: #F1C22E;
	font-weight: 400;
	font-family: pacifico, sans-serif;
}

#u1949-4,#u1952-4 {
	font-size: 16px;
	text-align: left;
	line-height: 24px;
	color: #FFFFFF;
	font-weight: 400;
	font-family: pt-sans, sans-serif;
}

#u1959-4 {
	background-color: #FD4D40;
	font-size: 18px;
	border-style: solid;
	line-height: 22px;
	color: #FFFFFF;
	border-radius: 100px;
	border-color: #FFFFFF;
	font-weight: 400;
	text-align: center;
	border-width: 1px;
	font-family: '__FontAwesome_5';
}

#u1959-2 {
	padding-top: 8px;
}

#u1960-4 {
	background-color: #16C3B0;
	font-size: 18px;
	border-style: solid;
	line-height: 22px;
	color: #FFFFFF;
	border-radius: 100px;
	border-color: #FFFFFF;
	font-weight: 400;
	text-align: center;
	border-width: 1px;
	font-family: '__FontAwesome_5';
}

#u1549,#u1959-4:hover,#u1960-4:hover {
	background-color: #F1C22E;
}

#u1960-2 {
	padding-top: 8px;
}

#u1961-4 {
	background-color: #FF7300;
	font-size: 18px;
	border-style: solid;
	line-height: 22px;
	color: #FFFFFF;
	border-radius: 100px;
	border-color: #FFFFFF;
	font-weight: 400;
	text-align: center;
	border-width: 1px;
	font-family: '__FontAwesome_5';
}

#u1599-4:hover,#u1961-4:hover {
	background-color: #FD4D40;
}

#u1961-2 {
	padding-top: 8px;
}

#u1962-4 {
	background-color: #F1C22E;
	font-size: 18px;
	border-style: solid;
	line-height: 22px;
	color: #FFFFFF;
	border-radius: 100px;
	border-color: #FFFFFF;
	font-weight: 400;
	text-align: center;
	border-width: 1px;
	font-family: '__FontAwesome_5';
}

#u1600-4:hover,#u1962-4:hover {
	background-color: #16C3B0;
}

#u1962-2 {
	padding-top: 8px;
}

#u1943 {
	box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.12);
	background-color: #F1C22E;
	border-color: transparent;
	border-width: 0px;
}

#u1950-5 {
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	color: #FFFFFF;
	font-weight: 400;
	font-family: pt-sans, sans-serif;
}

#u1950-2 {
	color: #FF7300;
}

#u9300 {
	background-color: transparent;
	border-color: transparent;
	border-width: 0px;
}

@media ( min-width : 1201px) , print {
	#menuu1552,#u1570 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}
	#u1572-4 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 14px;
		color: #666666;
		font-size: 12px;
		text-align: center;
		font-family: pt-sans, sans-serif;
		font-weight: 700;
	}
	#u1563 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}
	#u1566-4 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 14px;
		color: #666666;
		font-size: 12px;
		text-align: center;
		font-family: pt-sans, sans-serif;
		font-weight: 700;
	}
	#u1575 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}
	#u1578-4 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 14px;
		color: #666666;
		font-size: 12px;
		text-align: center;
		font-family: pt-sans, sans-serif;
		font-weight: 700;
	}
	#u1589 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}
	#u1590-4 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 14px;
		color: #666666;
		font-size: 12px;
		text-align: center;
		font-family: pt-sans, sans-serif;
		font-weight: 700;
	}
	#u1582 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}
	#u1585-4 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 14px;
		color: #666666;
		font-size: 12px;
		text-align: center;
		font-family: pt-sans, sans-serif;
		font-weight: 700;
	}
	#u1567,#u1560,#u1574,#u1588,#u1581,#u1553 {
		background-color: transparent;
	}
	#u1556 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}
	#u1570.MuseMenuActive,#u1563.MuseMenuActive,#u1575.MuseMenuActive,#u1589.MuseMenuActive,#u1582.MuseMenuActive,#u1556.MuseMenuActive
		{
		background-color: #FD4D40;
		border-radius: 100px;
	}
	#u1557-4 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 14px;
		color: #666666;
		font-size: 12px;
		text-align: center;
		font-family: pt-sans, sans-serif;
		font-weight: 700;
	}
	#u1570.MuseMenuActive #u1572-4 p,#u1563.MuseMenuActive #u1566-4 p,#u1575.MuseMenuActive #u1578-4 p,#u1589.MuseMenuActive #u1590-4 p,#u1582.MuseMenuActive #u1585-4 p,#u1556.MuseMenuActive #u1557-4 p
		{
		color: #FFFFFF;
		visibility: inherit;
	}
}

@media ( min-width : 1001px) and (max-width: 1200px) {
	#menuu1552,#u1570 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}
	#u1572-4 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 14px;
		color: #666666;
		font-size: 12px;
		text-align: center;
		font-family: pt-sans, sans-serif;
		font-weight: 700;
	}
	#u1563 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}
	#u1566-4 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 14px;
		color: #666666;
		font-size: 12px;
		text-align: center;
		font-family: pt-sans, sans-serif;
		font-weight: 700;
	}
	#u1575 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}
	#u1578-4 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 14px;
		color: #666666;
		font-size: 12px;
		text-align: center;
		font-family: pt-sans, sans-serif;
		font-weight: 700;
	}
	#u1589 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}
	#u1590-4 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 14px;
		color: #666666;
		font-size: 12px;
		text-align: center;
		font-family: pt-sans, sans-serif;
		font-weight: 700;
	}
	#u1582 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}
	#u1585-4 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 14px;
		color: #666666;
		font-size: 12px;
		text-align: center;
		font-family: pt-sans, sans-serif;
		font-weight: 700;
	}
	#u1567,#u1560,#u1574,#u1588,#u1581,#u1553 {
		background-color: transparent;
	}
	#u1556 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}
	#u1570.MuseMenuActive,#u1563.MuseMenuActive,#u1575.MuseMenuActive,#u1589.MuseMenuActive,#u1582.MuseMenuActive,#u1556.MuseMenuActive
		{
		background-color: #FD4D40;
		border-radius: 100px;
	}
	#u1557-4 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 14px;
		color: #666666;
		font-size: 12px;
		text-align: center;
		font-family: pt-sans, sans-serif;
		font-weight: 700;
	}
	#u1570.MuseMenuActive #u1572-4 p,#u1563.MuseMenuActive #u1566-4 p,#u1575.MuseMenuActive #u1578-4 p,#u1589.MuseMenuActive #u1590-4 p,#u1582.MuseMenuActive #u1585-4 p,#u1556.MuseMenuActive #u1557-4 p
		{
		color: #FFFFFF;
		visibility: inherit;
	}
}

@media ( min-width : 761px) and (max-width: 1000px) {
	#u17600 {
		border-width: 0px;
		border-color: transparent;
		background-color: #191919;
		background-color: rgba(0, 0, 0, 0.9);
		opacity: 0.9;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
		filter: alpha(opacity = 90);
		-pie-background: rgba(0, 0, 0, 0.9);
	}
	#u17601 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		opacity: 0.9;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
		filter: alpha(opacity = 90);
	}
	#menuu17602 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}
	#u17638,#u17641 {
		background-color: transparent;
	}
	#u17644-4 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 29px;
		color: #FFFFFF;
		font-size: 24px;
		text-align: center;
		font-family: pt-sans, sans-serif;
		font-weight: 700;
	}
	#u17617,#u17620 {
		background-color: transparent;
	}
	#u17622-4 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 29px;
		color: #FFFFFF;
		font-size: 24px;
		text-align: center;
		font-family: pt-sans, sans-serif;
		font-weight: 700;
	}
	#u17631,#u17634 {
		background-color: transparent;
	}
	#u17635-4 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 29px;
		color: #FFFFFF;
		font-size: 24px;
		text-align: center;
		font-family: pt-sans, sans-serif;
		font-weight: 700;
	}
	#u17603,#u17606 {
		background-color: transparent;
	}
	#u17607-4 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 29px;
		color: #FFFFFF;
		font-size: 24px;
		text-align: center;
		font-family: pt-sans, sans-serif;
		font-weight: 700;
	}
	#u17624,#u17625 {
		background-color: transparent;
	}
	#u17627-4 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 29px;
		color: #FFFFFF;
		font-size: 24px;
		text-align: center;
		font-family: pt-sans, sans-serif;
		font-weight: 700;
	}
	#u17610,#u17613 {
		background-color: transparent;
	}
	#u17615-4 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 29px;
		color: #FFFFFF;
		font-size: 24px;
		text-align: center;
		font-family: pt-sans, sans-serif;
		font-weight: 700;
	}
	#u17641.MuseMenuActive #u17644-4 p,#u17620.MuseMenuActive #u17622-4 p,#u17634.MuseMenuActive #u17635-4 p,#u17606.MuseMenuActive #u17607-4 p,#u17625.MuseMenuActive #u17627-4 p,#u17613.MuseMenuActive #u17615-4 p
		{
		color: #F1C22E;
		visibility: inherit;
	}
	#u17652 {
		border-color: #DEDEDE;
		background-color: transparent;
	}
	#u17653 {
		vertical-align: top;
		background: transparent url("../images/u17653.png?crc=511172532")
			no-repeat 0px 0px;
	}
	#u17652.PamphletThumbSelected #u17653 {
		background: transparent url("../images/u17653-a.png?crc=4246603635")
			no-repeat 0px 0px;
	}
	.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton
		{
		cursor: pointer;
	}
}

@media ( min-width : 481px) and (max-width: 760px) {
	#u17600 {
		border-width: 0px;
		border-color: transparent;
		background-color: #191919;
		background-color: rgba(0, 0, 0, 0.9);
		opacity: 0.9;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
		filter: alpha(opacity = 90);
		-pie-background: rgba(0, 0, 0, 0.9);
	}
	#u17601 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		opacity: 0.9;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
		filter: alpha(opacity = 90);
	}
	#menuu17602 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}
	#u17638,#u17641 {
		background-color: transparent;
	}
	#u17644-4 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 29px;
		color: #FFFFFF;
		font-size: 24px;
		text-align: center;
		font-family: pt-sans, sans-serif;
		font-weight: 700;
	}
	#u17617,#u17620 {
		background-color: transparent;
	}
	#u17622-4 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 29px;
		color: #FFFFFF;
		font-size: 24px;
		text-align: center;
		font-family: pt-sans, sans-serif;
		font-weight: 700;
	}
	#u17631,#u17634 {
		background-color: transparent;
	}
	#u17635-4 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 29px;
		color: #FFFFFF;
		font-size: 24px;
		text-align: center;
		font-family: pt-sans, sans-serif;
		font-weight: 700;
	}
	#u17603,#u17606 {
		background-color: transparent;
	}
	#u17607-4 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 29px;
		color: #FFFFFF;
		font-size: 24px;
		text-align: center;
		font-family: pt-sans, sans-serif;
		font-weight: 700;
	}
	#u17624,#u17625 {
		background-color: transparent;
	}
	#u17627-4 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 29px;
		color: #FFFFFF;
		font-size: 24px;
		text-align: center;
		font-family: pt-sans, sans-serif;
		font-weight: 700;
	}
	#u17610,#u17613 {
		background-color: transparent;
	}
	#u17615-4 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 29px;
		color: #FFFFFF;
		font-size: 24px;
		text-align: center;
		font-family: pt-sans, sans-serif;
		font-weight: 700;
	}
	#u17641.MuseMenuActive #u17644-4 p,#u17620.MuseMenuActive #u17622-4 p,#u17634.MuseMenuActive #u17635-4 p,#u17606.MuseMenuActive #u17607-4 p,#u17625.MuseMenuActive #u17627-4 p,#u17613.MuseMenuActive #u17615-4 p
		{
		color: #F1C22E;
		visibility: inherit;
	}
	#u17652 {
		border-color: #DEDEDE;
		background-color: transparent;
	}
	#u17653 {
		vertical-align: top;
		background: transparent url("../images/u17653.png?crc=511172532")
			no-repeat 0px 0px;
	}
	#u17652.PamphletThumbSelected #u17653 {
		background: transparent url("../images/u17653-a.png?crc=4246603635")
			no-repeat 0px 0px;
	}
	.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton
		{
		cursor: pointer;
	}
}

@media ( max-width : 480px) {
	#u17600 {
		border-width: 0px;
		border-color: transparent;
		background-color: #191919;
		background-color: rgba(0, 0, 0, 0.9);
		opacity: 0.9;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
		filter: alpha(opacity = 90);
		-pie-background: rgba(0, 0, 0, 0.9);
	}
	#u17601 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		opacity: 0.9;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
		filter: alpha(opacity = 90);
	}
	#menuu17602 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}
	#u17638,#u17641 {
		background-color: transparent;
	}
	#u17644-4 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 29px;
		color: #FFFFFF;
		font-size: 24px;
		text-align: center;
		font-family: pt-sans, sans-serif;
		font-weight: 700;
	}
	#u17617,#u17620 {
		background-color: transparent;
	}
	#u17622-4 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 29px;
		color: #FFFFFF;
		font-size: 24px;
		text-align: center;
		font-family: pt-sans, sans-serif;
		font-weight: 700;
	}
	#u17631,#u17634 {
		background-color: transparent;
	}
	#u17635-4 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 29px;
		color: #FFFFFF;
		font-size: 24px;
		text-align: center;
		font-family: pt-sans, sans-serif;
		font-weight: 700;
	}
	#u17603,#u17606 {
		background-color: transparent;
	}
	#u17607-4 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 29px;
		color: #FFFFFF;
		font-size: 24px;
		text-align: center;
		font-family: pt-sans, sans-serif;
		font-weight: 700;
	}
	#u17624,#u17625 {
		background-color: transparent;
	}
	#u17627-4 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 29px;
		color: #FFFFFF;
		font-size: 24px;
		text-align: center;
		font-family: pt-sans, sans-serif;
		font-weight: 700;
	}
	#u17610,#u17613 {
		background-color: transparent;
	}
	#u17615-4 {
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 29px;
		color: #FFFFFF;
		font-size: 24px;
		text-align: center;
		font-family: pt-sans, sans-serif;
		font-weight: 700;
	}
	#u17641.MuseMenuActive #u17644-4 p,#u17620.MuseMenuActive #u17622-4 p,#u17634.MuseMenuActive #u17635-4 p,#u17606.MuseMenuActive #u17607-4 p,#u17625.MuseMenuActive #u17627-4 p,#u17613.MuseMenuActive #u17615-4 p
		{
		color: #F1C22E;
		visibility: inherit;
	}
	#u17652 {
		border-color: #DEDEDE;
		background-color: transparent;
	}
	#u17653 {
		vertical-align: top;
		background: transparent url("../images/u17653.png?crc=511172532")
			no-repeat 0px 0px;
	}
	#u17652.PamphletThumbSelected #u17653 {
		background: transparent url("../images/u17653-a.png?crc=4246603635")
			no-repeat 0px 0px;
	}
	.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton
		{
		cursor: pointer;
	}
}