<div class="row align-items-center justify-content-center">
	<div class="col-12">

		<div style="margin-bottom: 10px;" class="text-center japandraw">
			<a href="#" class="nicdark_btn_icon nicdark_zoom nicdark_bg_yellow extrasmall pre">
				<span class="icon-left-open"></span>
			</a>
			<a href="#" class="nicdark_btn_icon nicdark_zoom nicdark_bg_green extrasmall play">
				<span class="icon-play"></span>
			</a>
			<a href="#" class="nicdark_btn_icon nicdark_zoom nicdark_bg_blue extrasmall stop">
				<span class="icon-stop"></span>
			</a>
			<a href="#" class="nicdark_btn_icon nicdark_zoom nicdark_bg_red extrasmall next">
				<span class="icon-right-open"></span>
			</a>
			<a href="#" class="nicdark_btn_icon nicdark_zoom nicdark_bg_blue extrasmall listen" code="{$read}">
				<span class="icon-volume-up"></span>
			</a>
		</div>
		<div id="char_{$read}" class="writing text-center" char="{$char}" group="{$group}" code="{$read}" ></div>
	</div>
	<div class="col-2">
		{if isset($pre)}
		{char_col c=$pre boxcolor='blue'}
		{/if}
	</div>
	
	<div class="col-2">
		{if isset($next)}
		{char_col c=$next boxcolor='blue'}
		{/if}
		
	</div>
</div>


