{*
template source
http://www.nicdarkthemes.com/themes/baby-kids/wp/demo/excursions/a-day-at-the-zoo/
*}
<div class="container chars_table" style="margin-top:-5px;">

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#basic" role="tab">Cơ Bản</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#amduc" role="tab">Âm Đục</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#amghep" role="tab">Âm Ghép</a>
  </li>

  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="basic" role="tabpanel">
  		{include file="katakana/basic.html"}
  </div>
  <div class="tab-pane" id="amduc" role="tabpanel">
    {include file="katakana/amduc.html"}
  </div>
  <div class="tab-pane" id="amghep" role="tabpanel">
   
    {include file="katakana/amduc.html"}
  </div>




</div>

	
</div>
