{assign 'array' ['g','z','b','p']}
{foreach $array AS $g }
<div class="row" >

	{kata_col c=$g|cat:'a'}
	{if $g=='z'}
		{kata_col c='ji' boxcolor='blue'}
	{else}
		{kata_col c=$g|cat:'i' boxcolor='blue'}
	{/if}

	{kata_col c=$g|cat:'u' boxcolor='red'}
	{kata_col c=$g|cat:'e' boxcolor='orange'}	
	{kata_col c=$g|cat:'o' boxcolor='violet'}
</div>
	{if $g=='z'}
		<div class="row" >
		{kata_col c='da'}
		{kata_col c='ji' boxcolor='blue'}
		{kata_col c='zu2' boxcolor='red'}
		{kata_col c='de' boxcolor='orange'}	
		{kata_col c='do' boxcolor='violet'}
		</div>
	{/if}

{/foreach}